---
layout: may2016
---

<section class="section-help">
  <div class="help">
    <h2>Помогаем</h2>
    <ul>
      <li>
        {% include icons/may2016/owner.svg %}
        <p>
          {% include icons/may2016/eye.svg %} <span>Собственникам бизнеса</span>
        </p>
        <p>
          Увидеть «узкие места» бизнеса,<br> исправить их и найти «точки роста».
        </p>
      </li>
      
      <li>
        {% include icons/may2016/director.svg %}
        <p>
          {% include icons/may2016/cup.svg %} <span>Директорам</span>
        </p>
        <p>
          Понять эффективность работы<br> сотрудников и агентств.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/marketolog.svg %}
        <p>
          {% include icons/may2016/goggles.svg %} <span>Веб-маркетологам</span>
        </p>
        <p>
          Оценить прибыльность<br>
          или убыточность рекламных каналов.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/account.svg %}
        <p>
          {% include icons/may2016/dollar.svg %} <span>Финансовым директорам и директорам по развитию</span>
        </p>
        <p>
          Следить за возвратом вложенных<br> инвестиций в маркетинг.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/ment.svg %}
        <p>
          {% include icons/may2016/shield.svg %} <span>Сотрудникам службы безопасности</span>
        </p>
        <p>
          Контролировать проводимые финансовые затраты,<br> сравнивая результаты работ различных агентств.
        </p>
      </li>
      
    </ul>
    <div class="presentation">
      <div class="col-group">
      	<div>
          <span class="button button-presentation">
            {% include icons/may2016/presentation.svg %}
            <span>Закажите презентацию</span>
          </span>
      	</div>
  
      	<div>
      		<span class="text">И мы подробно расскажем в чем польза.</span>
      	</div>
      </div>
    </div>
  </div>
</section>

<section class="section-steps">
  <div class="background-overlay">
  </div>
  {% include icons/may2016/orangeline.svg %}
  <div class="steps">
    <h2>Конкретные шаги</h2>
    <div class="col-group">
      
      <div>
        {% include icons/may2016/1step.svg %}
        <p>
          <b>Оцифровываем</b>
          <br>бизнес-процессы 
        </p>
        <p>
          <b>Определяем</b>
          <br>ключевые
          <br>показатели 
        </p>
      </div>
      
      <div>
        {% include icons/may2016/2step.svg %}
        <p>
          <b>Строим</b>
          <br>воронки продаж 
          <br>на реальных данных 
        </p>
        <p>
          <b>Наблюдаем</b>
          <br>за показателями 
          <br>и динамикой 
        </p>
      </div>
      
      <div>
        {% include icons/may2016/3step.svg %}
        <p>
          <b>Оптимизируем</b>
          <br>«узкие места» 
          <br>в бизнес-процессах 
        </p>
        <p>
          <b>Ищем</b>
          <br>новые возможности
          <br>роста 
        </p>
      </div>
      
      <div>
        {% include icons/may2016/4step.svg %}
        <p>
          <b>Настраиваем</b>
          <br>уведомления 
          <br>о процессах 
        </p>
        <p>
          <b>Формируем</b>
          <br>систему принятия 
          <br>решений 
        </p>
      </div>
      
    </div>
  </div>
</section>

<section class="section-wiki">
  <div class="wiki">
    <h2>В капиталистическом мире мы называемся</h2>
        <div class="col-group">
      		<div>
    				<h3>MRM</h3>
            <h4>Marketing Resource Management</h4>
    				<p><b>Специализированные программные продукты, 
предназначенные для управления 
маркетинговыми ресурсами</b> и являющиеся 
платформой для автоматизации маркетинга.</p>
            <p>Как правило, охватывают область планирования 
и реализации рекламных кампаний, работу с рекламными материалами и корпоративным стилем.</p>
    			</div>
      		<div>
    				<h3>BI</h3>
            <h4>Business Intelligence</h4>
    				<p><b>Методы и инструменты для перевода необработанной 
информации в осмысленную, удобную форму.</b> </p>
    				<p>Интерпретация больших объемов данных, 
ключевые факторы эффективности, 
моделирование исхода различных вариантов действий, 
отслеживание результатов принятия решений.</p>
    			</div>

    	</div>
    <p class="wiki-reference">прямо с Википедии {% include icons/may2016/wiki.svg %}</p>
    </div>
  </div>
</section>
<section class="section-details">
  <div class="details">
    <h2>Как конкретно может помочь {% include icons/may2016/roi_logo.svg %} ?</h2>
    <ul>
      <li>
        {% include icons/may2016/speed.svg %}
        <p>
          <b>Оценить и сравнить эффективность</b> рекламных каналов и инструментов, 
          подрядчиков и рекламных агенств.
        </p>
        <p>
          Бюджеты и возврат инвестиций каждой рекламной кампании, каждого инструмента и каждого подрядчика.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/instruments.svg %}
        <p>
          Построить <b>автоматизированную систему по выбору, закупке и оптимизации</b>
          медийных и контекстных площадок в режиме реального времени.
          Оценка каналов/инструментов, закупка, оптимизация в автоматическом режиме.
        </p>
        <p>
          Бюджеты и возврат инвестиций каждой рекламной кампании, каждого инструмента и каждого подрядчика.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/squares.svg %}
        <p>
          Вести <b>учет всех рекламных кампаний</b> при работе с несколькими агенствами.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/book.svg %}
        <p>
          Реализовать <b>обмен опытом между брендами</b> и их медиапланам <br>
          и математическое <b>моделирование лучшего медиаплана.</b>
        </p>
      </li>
      
      <li>
        {% include icons/may2016/folders.svg %}
        <p>
          Стандартизировать <b>отчетную документацию отдела маркетинга.</b>
        </p>
        <p>
          Отчеты без сюрпризов, быстрый старт для новых сотрудников, фиксирование результатов.
        </p>
      </li>
      
      <li>
        {% include icons/may2016/target.svg %}
        <p>
          <b>Проверять подрядчиков:</b> стоимость по рынку и объемы открутки рекламы.
        </p>
      </li>
      
    </ul>
  </div>
</section>
<section class="section-why">
  <div class="why">
    <h2>Почему мы?</h2>
    <ul>
      <li>
        {% include icons/may2016/circle.svg %}
        <h3>
          Индивидуальный подход, не SaaS
        </h3>
        <p>
          Управляем интеграцией и подключением.<br>
          Работаем со средним и большим бизнесом.<br>
          Оказываем <b>оперативную поддержку.</b><br>
        </p>
      </li>
      
      <li>
        {% include icons/may2016/circle.svg %}
        <h3>
          Воронка продаж — лишь начало
        </h3>
        <p>
          Инструмент <b>масштабирования бизнеса.</b><br>
          Оптимизируем проблемные места.<br>
          Ищем <b>точки роста.</b><br>
        </p>
      </li>
      
      <li>
        {% include icons/may2016/circle.svg %}
        <h3>
          Философия здорового роста
        </h3>
        <p>
          Создание массива данных о бизнеса с последующей инеграцией MRM системы.<br>
          <b>Поэтапная автоматизация маркетинга и генерации клиентов.</b><br>
          Автономное подключение рекламных площадок / носителей.<br>
        </p>
      </li>
      
      <li>
        {% include icons/may2016/circle.svg %}
        <h3>
          Уникальная специализация
        </h3>
        <p>
          Исходя из нашего опыты имеем большие компетенции в отраслях:<br>
          <b>автомобильный ритейл, коммерческая медицина и финансовый сектор.</b><br>
        </p>
      </li>
      
      <li>
        {% include icons/may2016/circle.svg %}
        <h3>
          Команда RO!RS
        </h3>
        <p>
          Бывшие сотрудники и топ-менеджеры крупных компаний<br>
          и рекламных агенств, понимающих не только важность автоматизации<br>
          отчетности и маркетинга, но и осознающие бизнес процессы клиента.<br>
        </p>
      </li>
      
    </ul>
  </div>
</section>

<section class="section-clients">
  <div class="clients">
    <h2>Наши клиенты</h2>
    <div class="icons">
      <img class="desktop" src="{% asset_path 'may2016/clients.png' %}">
    </div>
  </div>
</section>

<section class="section-where">
  <div class="where">
    <h2>Где нас найти</h2>
        <div class="col-group">
      		<div>
            <p class="contact-us">Свяжитесь с нами</p>
            <p class="phone">+7 495 648 66 39</p>
            <p class="email">info@roi.rs</p>
            <div class="col-group">
            	<div>
                <span class="button button-callback">
                  {% include icons/may2016/phone.svg %}
                  <span>Оставьте свой номер</span>
                </span>
            	</div>
  
            	<div>
            		<span class="text">и мы перезвоним.</span>
            	</div>
            </div>
            <p class="download">Скачайте</p>
            <p class="pdf">{% include icons/may2016/pdf.svg %} <b>Презентация</b> в PDF формате</p>
            <p class="zip">{% include icons/may2016/zip.svg %} <b>Пресскит</b> в ZIP архиве</p>
    			</div>
      		<div>
            <p class="realworld">В реальном мире</p>
            <p class="address1">Россия, город Москва</p>
            <p class="address2">Пресненский вал, дом 27, строение 9</p>
            <p class="map">{% include icons/may2016/map.svg %} Смотрите на Яндекс.картах</p>
            
            <p class="social"> В социальных сетях</p>
            <div class="vk">
              {% include icons/may2016/vk.svg %} 
              <p>Вконтакте</p>
            </div>
            <div class="facebook">
              {% include icons/may2016/facebook.svg %} 
              <p>Фэйсбук</p>
            </div>
            <div class="twitter">
              {% include icons/may2016/twitter.svg %} 
              <p>Твиттер</p>
            </div>
    			</div>

    	</div>
    </div>
  </div>
</section>
<section class="section-footer">
  <div class="footer">
  </div>
</section>

