---
layout: default
---

<div class="welcome" style="background-image: url({{"/assets/images/backgrounds/main.jpg" | prepend: site.baseurl }});">
  <section>
    <h2>
      Прозрачная эффективность<br />
      <span>каждого этапа воронки продаж<br />вашего бизнеса</span>
    </h2>
    <a href="#">Подключить</a>
  </section>
  {% include icons/mouse.svg %}
</div>
<div class="info">
  <h2>Автоматизация бизнес-аналитики</h2>
  <p>
    Оценивайте отдачу от маркетинговых затрат и эффективность всех бизнес-процессов<br />
    компании. Надстройка над IT-инфраструктурой бизнеса, интеграция которой<br />
    не требует изменения существующей архитектуры.
  </p>
  <p>
    Сервис собирает информацию из всех источников данных, от Google.Analytics до 1С.<br />
    И формирует прозрачные и понятные отчеты, которые позволят быстро найти<br />
    проблемные места в воронке продаж.
  </p>
  <ul>
    <li>
      {% include icons/dashboard.svg %}
      <h3>Все цифры в одном отчете</h3>
      <p>
        Больше не нужно открывать десять<br />
        файлов, не связанных друг с другом.
      </p>
    </li>
    <li>
      {% include icons/globe.svg %}
      <h3>Всегда готовы к просмотру</h3>
      <p>
        Данные доступны онлайн в режиме<br />
        реального времени из любой точки мира.
      </p>
    </li>
    <li>
      {% include icons/report.svg %}
      <h3>Тонкая настройка отчетов</h3>
      <p>
        Индивидуальные отчеты для решения<br />
        конкретных бизнес-задач.
      </p>
    </li>
    <li>
      {% include icons/lock.svg %}
      <h3>Данные под защитой</h3>
      <p>
        Защищенный протокол передачи, сертификаты<br />
        об отсутствии "дырок" в безопасности.
      </p>
    </li>
  </ul>
  <h3>
    Интеграция всех источников, сбор данных и создание первого отчета<br />
    занимает <span>от 3 дней до 1 месяца</span>. Ежемесячная стоимость сервиса<br />
    для одного проекта <span>от 20 000 до 80 000 рублей</span>.
  </h3>
</div>
<div class="how-it-works">
  <h2><span>Как это всё работает?</span></h2>
  <nav>
    <a href="#" class="active">у автодилеров</a>
    <a href="#">в частных клиниках</a>
    <a href="#">в вашей компании</a>
  </nav>
</div>
<div class="step first" style="background-image: url({{"/assets/images/backgrounds/step1.jpg" | prepend: site.baseurl }});">
  <section>
    <h2>
      {% include icons/dollar.svg %}
      <span>
        Не хватает понимания эффективности<br />
        рекламы и бизнес процессов?
      </span>
    </h2>
    <p>
      Много рекламных каналов, коллцентр, отдел продаж,<br />
      отдел сервиса, но нет единой картины?
    </p>
    <ul class="funnels">
      <li>
        <div style="background-image: url({{"/assets/images/backgrounds/step1_funnel.jpg" | prepend: site.baseurl }});">
          <span>Рекламный бюджет</span>
          <p>844 305 р</p>
        </div>
      </li>
    </ul>
    <h3>
      Собираем всю информацию<br />
      и строим единый отчет до ROI:
    </h3>
    <ul class="list">
      <li>по каждому рекламному каналу,</li>
      <li>по каждому менеджеру,</li>
      <li>по доходности каждой модели автомобиля.</li>
    </ul>
  </section>
</div>
<div class="step second" style="background-image: url({{"/assets/images/backgrounds/step2.jpg" | prepend: site.baseurl }});">
  <section>
    <h2>
      {% include icons/lamp.svg %}
      <span>
        Полное понимание отдачи<br />
        от маркетинговых затрат
      </span>
    </h2>
    <p>
      Считаем ROI в разрезе каждой рекламной кампании<br />
      и медийного баннера.
    </p>
    <ul class="funnels">
      <li>
        <ul class="cut-bottom">
          <li>
            <span>Рекламный бюджет</span>
            <p>1 218 708 р</p>
            <b>10,17 р — цена клика</b>
            <i class="plus">5.2%</i>
          </li>
          <li>
            <span>Клики</span>
            <p>119 808</p>
            <b>4,22% — конверсия в коммуникации</b>
            <i class="minus">7.3%</i>
            <a href="#"><span>Почему так?</span></a>
          </li>
          <li>
            <span>Коммуникации</span>
            <p>5 061</p>
            <b>1,77% — конверсия в уник. коммуникации</b>
            <i class="minus">9.6%</i>
            <a href="#"><span>Как так получилось?</span></a>
          </li>
          <li>
            <span>Уникальные коммуникации</span>
            <p>2 122</p>
            <b>7% — конверсия в контракты</b>
            <i class="minus">5.7%</i>
          </li>
          <li class="empty"></li>
        </ul>
      </li>
    </ul>
    <h3>
      Отвечаем на главный вопросы отдела<br />
      маркетинга вашей компании:
    </h3>
    <ul class="list">
      <li>почему упала отдача от рекламы?</li>
      <li>кто из подрядчиков работает недостаточно хорошо?</li>
      <li>как составить максимально эффективный медиаплан?</li>
    </ul>
  </section>
</div>
<div class="step third" style="background-image: url({{"/assets/images/backgrounds/step3.jpg" | prepend: site.baseurl }});">
  <section>
    <h2>
      {% include icons/details.svg %}
      <span>
        Детализация каждого этапа<br />
        воронки на стороне бизнеса
      </span>
    </h2>
    <p>Выясняем, на каких этапах теряются клиенты и прибыль.</p>
    <ul class="funnels">
      <li>
        <ul class="cut-top">
          <li>
            <span>Контракты</span>
            <p>149</p>
            <b>76% — конверсия в оплату</b>
            <i class="minus">6.0%</i>
          </li>
          <li>
            <span>Оплаченные контракты</span>
            <p>113</p>
            <b>1 340 000 р — средний чек</b>
            <i class="minus">3.4%</i>
          </li>
          <li>
            <span>Оборот</span>
            <p>151 420 000 р</p>
            <b>4,01% — маржинальность</b>
            <i class="plus">5.2%</i>
          </li>
          <li>
            <span>Доход</span>
            <p>6 056 800 р</p>
            <i class="minus">6.0%</i>
            <a href="#"><span>Почему так?</span></a>
          </li>
          <li class="orange">
            <span>ROI</span>
            <p>398%</p>
            <i class="minus">11.6%</i>
          </li>
        </ul>
      </li>
    </ul>
    <h3>
      Строим индивидуальную отчетность,<br />
      которая помогает оценить эффективность бизнес-процессов:
    </h3>
    <ul class="list">
      <li>сколько звонков в месяц теряет колл-центр?</li>
      <li>какая модель авто имеет самый высокий показатель ROI?</li>
      <li>как можно улучшить показатели отдела продаж?</li>
    </ul>
  </section>
</div>
<div class="step fourth" style="background-image: url({{"/assets/images/backgrounds/step4.jpg" | prepend: site.baseurl }});">
  <section>
    <h2>
      {% include icons/brilliant.svg %}
      <span>
        Помогаем бизнесу<br />
        увеличить чистую прибыль
      </span>
    </h2>
    <p>
      Каждый этап становится прозрачным. Решения принимаются,<br />
      опираясь не на домыслы или «экспертные мнения», а на реальные цифры.
    </p>
    <ul class="funnels">
      <li>
        <p>
          Собрали данные,<br />
          задали правильные вопросы,<br />
          нашли проблемы.
        </p>
        <ul>
          <li>
            <span>Рекламный бюджет</span>
            <p>1 218 708 р</p>
            <b>10,17 р — цена клика</b>
          </li>
          <li>
            <span>Клики</span>
            <p>119 808</p>
            <b>4,22% — конверсия в коммуникации</b>
          </li>
          <li>
            <span>Коммуникации</span>
            <p>5 061</p>
            <b>1,77% — конверсия в уник. коммуникации</b>
          </li>
          <li>
            <span>Уникальные коммуникации</span>
            <p>2 122</p>
            <b>7% — конверсия в контракты</b>
          </li>
          <li>
            <span>Контракты</span>
            <p>149</p>
            <b>76% — конверсия в оплату</b>
          </li>
          <li>
            <span>Оплаченные контракты</span>
            <p>113</p>
            <b>1 340 000 р — средний чек</b>
          </li>
          <li>
            <span>Оборот</span>
            <p>151 420 000 р</p>
            <b>4,01% — маржинальность</b>
          </li>
          <li>
            <span>Доход</span>
            <p>6 056 800 р</p>
          </li>
          <li class="orange">
            <span>ROI</span>
            <p>398%</p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          Оптимизировали проблемные<br />
          места, увеличили ROI, переходим<br />
          к следующим вопросам.
        </p>
        <ul>
          <li>
            <span>Рекламный бюджет</span>
            <p>1 365 200 р</p>
            <b>9,59 р — цена клика</b>
            <i class="plus">12,02%</i>
          </li>
          <li>
            <span>Клики</span>
            <p>142 350</p>
            <b>4,74% — конверсия в коммуникации</b>
            <i class="plus">18,82%</i>
          </li>
          <li>
            <span>Коммуникации</span>
            <p>6 752</p>
            <b>1,99% — конверсия в уник. коммуникации</b>
            <i class="plus">33,41%</i>
          </li>
          <li>
            <span>Уникальные коммуникации</span>
            <p>2 834</p>
            <b>7% — конверсия в контракты</b>
            <i class="plus">33,55%</i>
          </li>
          <li>
            <span>Контракты</span>
            <p>198</p>
            <b>77% — конверсия в оплату</b>
            <i class="plus">33,13%</i>
          </li>
          <li>
            <span>Оплаченные контракты</span>
            <p>153</p>
            <b>1 310 000 р — средний чек</b>
            <i class="plus">35,17%</i>
          </li>
          <li>
            <span>Оборот</span>
            <p>200 094 713 р</p>
            <b>4,20% — маржинальность</b>
            <i class="plus">32,15%</i>
          </li>
          <li>
            <span>Доход</span>
            <p>8 403 978 р</p>
            <i class="plus">38,41%</i>
          </li>
          <li class="orange">
            <span>ROI</span>
            <p>516%</p>
            <i class="plus">29,47%</i>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>