---
layout: default
---

<div class="welcome" style="background-image: url({{"/assets/images/backgrounds/main.jpg" | prepend: site.baseurl }});">
  <section>
    <h2>
      Прозрачная эффективность<br />
      <span>каждого этапа воронки продаж<br />вашего бизнеса</span>
    </h2>
    <p><a href="#">Подключить</a></p>
  </section>
  <div class="mouse">{% include icons/mouse.svg %}</div>
</div>
<div class="info">
  <h2 id="info-header1" du-scrollspy="info-header1" du-spy-context offset="//getOffset()//">Автоматизация бизнес-аналитики</h2>
  <p id="info-text1" du-scrollspy="info-text1" du-spy-context offset="//getOffset()//">
    Оценивайте отдачу от маркетинговых затрат и эффективность всех бизнес-процессов<br />
    компании. Надстройка над IT-инфраструктурой бизнеса, интеграция которой<br />
    не требует изменения существующей архитектуры.
  </p>
  <p id="info-text2" du-scrollspy="info-text2" du-spy-context offset="//getOffset()//">
    Сервис собирает информацию из всех источников данных, от Google.Analytics до 1С.<br />
    И формирует прозрачные и понятные отчеты, которые позволят быстро найти<br />
    проблемные места в воронке продаж.
  </p>
  <ul>
    <li id="info-list1" du-scrollspy="info-list1" du-spy-context offset="//getOffset(50)//">
      {% include icons/dashboard.svg %}
      <h3>Все цифры в одном отчете</h3>
      <p>
        Больше не нужно открывать десять<br />
        файлов, не связанных друг с другом.
      </p>
    </li>
    <li id="info-list2" du-scrollspy="info-list2" du-spy-context offset="//getOffset()//">
      {% include icons/globe.svg %}
      <h3>Всегда готовы к просмотру</h3>
      <p>
        Данные доступны онлайн в режиме<br />
        реального времени из любой точки мира.
      </p>
    </li>
    <li id="info-list3" du-scrollspy="info-list3" du-spy-context offset="//getOffset(50)//">
      {% include icons/report.svg %}
      <h3>Тонкая настройка отчетов</h3>
      <p>
        Индивидуальные отчеты для решения<br />
        конкретных бизнес-задач.
      </p>
    </li>
    <li id="info-list4" du-scrollspy="info-list4" du-spy-context offset="//getOffset()//">
      {% include icons/lock.svg %}
      <h3>Данные под защитой</h3>
      <p>
        Защищенный протокол передачи, сертификаты<br />
        об отсутствии "дырок" в безопасности.
      </p>
    </li>
  </ul>
  <h3 id="info-header2" du-scrollspy="info-header2" du-spy-context offset="//getOffset()//">
    Интеграция всех источников, сбор данных и создание первого отчета<br />
    занимает <span>от 3 дней до 1 месяца</span>. Ежемесячная стоимость сервиса<br />
    для одного проекта <span>от 20 000 до 80 000 рублей</span>.
  </h3>
</div>
<div class="how-it-works">
  <h2 id="how-it-works-header" du-scrollspy="how-it-works-header" du-spy-context offset="//getOffset()//">
    <span>Как это всё работает?</span>
  </h2>
  <nav>
    <li id="how-it-works-list1" du-scrollspy="how-it-works-list1" du-spy-context offset="//getOffset()//">
      <a href="#" class="active">у автодилеров</a>
    </li>
    <li id="how-it-works-list2" du-scrollspy="how-it-works-list2" du-spy-context offset="//getOffset()//">
      <a href="#">в частных клиниках</a>
    </li>
    <li id="how-it-works-list3" du-scrollspy="how-it-works-list3" du-spy-context offset="//getOffset()//">
      <a href="#">в вашей компании</a>
    </li>
  </nav>
</div>
<div id="steps">
  <div class="step first" id="step1" style="background-image: url({{"/assets/images/backgrounds/step1.jpg" | prepend: site.baseurl }});">
    <section>
      <h2 id="step1-header1" du-scrollspy="step1-header1" du-spy-context offset="//getOffset()//">
        {% include icons/dollar.svg %}
        <span>
          Не хватает понимания эффективности<br />
          рекламы и бизнес процессов?
        </span>
      </h2>
      <p id="step1-text" du-scrollspy="step1-text" du-spy-context offset="//getOffset()//">
        Много рекламных каналов, коллцентр, отдел продаж,<br />
        отдел сервиса, но нет единой картины?
      </p>
      <div class="funnels">
        <ul>
          <li id="step1-funnels1" du-scrollspy="step1-funnels1" du-spy-context offset="//getOffset()//">
            <div style="background-image: url({{"/assets/images/backgrounds/step1_funnel.jpg" | prepend: site.baseurl }});">
              <span>Рекламный бюджет</span>
              <p>844 305<span> р</span></p>
            </div>
          </li>
        </ul>
      </div>
      <h3 id="step1-header2" du-scrollspy="step1-header2" du-spy-context offset="//getOffset()//">
        Собираем всю информацию<br />
        и строим единый отчет до ROI:
      </h3>
      <ul class="list">
        <li id="step1-list1" du-scrollspy="step1-list1" du-spy-context offset="//getOffset()//">по каждому рекламному каналу,</li>
        <li id="step1-list2" du-scrollspy="step1-list2" du-spy-context offset="//getOffset()//">по каждому менеджеру,</li>
        <li id="step1-list3" du-scrollspy="step1-list3" du-spy-context offset="//getOffset()//">по доходности каждой модели автомобиля.</li>
      </ul>
    </section>
  </div>
  <div class="step second" id="step2" style="background-image: url({{"/assets/images/backgrounds/step2.jpg" | prepend: site.baseurl }});">
    <section>
      <h2 id="step2-header1" du-scrollspy="step2-header1" du-spy-context offset="//getOffset()//">
        {% include icons/lamp.svg %}
        <span>
          Полное понимание отдачи<br />
          от маркетинговых затрат
        </span>
      </h2>
      <p id="step2-text1" du-scrollspy="step2-text1" du-spy-context offset="//getOffset()//">
        Считаем ROI в разрезе каждой рекламной кампании<br />
        и медийного баннера.
      </p>
      <div class="funnels">
        <ul>
          <li id="step2-funnels1" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset()//">
            <ul class="cut-bottom">
              <li>
                <span>Рекламный бюджет</span>
                <p>1 218 708<span> р</span></p>
                <b>10,17 р — цена клика</b>
                <i class="plus" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset() / 2//">5.2%</i>
              </li>
              <li>
                <span>Клики</span>
                <p>119 808</p>
                <b>4,22% — конверсия в коммуникации</b>
                <i class="minus" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset() / 2 - 50//">7.3%</i>
                <div class="button" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset() / 2 - 75//">
                  <a href="#" ng-click="toggle('whyClicksGoDown', true)">
                    <span>Почему так?</span>
                  </a>
                </div>
              </li>
              <li>
                <span>Коммуникации</span>
                <p>5 061</p>
                <b>1,77% — конверсия в уник. коммуникации</b>
                <i class="minus" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset() / 2 - 100//">9.6%</i>
                <div class="button" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset() / 2 - 125//">
                  <a href="#" ng-click="toggle('whyCommunicationsGoDown', true)">
                    <span>Как так получилось?</span>
                  </a>
                </div>
              </li>
              <li>
                <span>Уникальные коммуникации</span>
                <p>2 122</p>
                <b>7% — конверсия в контракты</b>
                <i class="minus" du-scrollspy="step2-funnels1" du-spy-context offset="//getOffset() / 2 - 150//">5.7%</i>
              </li>
              <li class="empty"></li>
            </ul>
          </li>
        </ul>
        <section ng-class="{active: whyClicksGoDown}">
          <a href="#" class="close" ng-click="toggle('whyClicksGoDown', false)">{% include icons/close.svg %}</a>
          <h3>Почему же клики упали на 7,3% при росте бюджета?</h3>
          <p>
            Упал трафик по SEO. В отчете по позициям мы видим отрицательную<br />
            динамику позиций к прошлому месяцу.
          </p>
          <p><span>Пора поговорить с подрядчиком по SEO продвижению.</span></p>
          <table class="no-top">
            <tr class="grey icons">
              <td class="request"></td>
              <td class="dinamyc" colspan="2"><div class="icon">{% include icons/yandex.svg %}</div></td>
              <td class="position" colspan="2"><div class="icon">{% include icons/google.svg %}</div></td>
            </tr>
            <tr class="grey">
              <td class="request">Запрос</td>
              <td class="position">Позиция</td>
              <td class="dinamyc">Динамика</td>
              <td class="position">Позиция</td>
              <td class="dinamyc">Динамика</td>
            </tr>
            <tr class="big">
              <td class="request">Итого</td>
              <td class="position">12</td>
              <td class="dinamyc"><span class="minus">34</span></td>
              <td class="position">9</td>
              <td class="dinamyc"><span class="minus">4</span></td>
            </tr>
            <tr>
              <td class="request">бмв купить</td>
              <td class="position">11</td>
              <td class="dinamyc"><span class="minus">2</span></td>
              <td class="position">7</td>
              <td class="dinamyc"><span class="plus">1</span></td>
            </tr>
            <tr>
              <td class="request">бмв цены</td>
              <td class="position">7</td>
              <td class="dinamyc"><span class="minus">11</span></td>
              <td class="position">10</td>
              <td class="dinamyc"><span class="minus">7</span></td>
            </tr>
            <tr>
              <td class="request">bmw цены</td>
              <td class="position">7</td>
              <td class="dinamyc"><span class="plus">3</span></td>
              <td class="position">11</td>
              <td class="dinamyc"><span class="minus">7</span></td>
            </tr>
            <tr>
              <td class="request">купить bmw в москве</td>
              <td class="position">18</td>
              <td class="dinamyc"><span class="plus">1</span></td>
              <td class="position">4</td>
              <td class="dinamyc"><span class="plus">1</span></td>
            </tr>
            <tr>
              <td class="request">дилеры bmw в москве</td>
              <td class="position">23</td>
              <td class="dinamyc"><span class="minus">6</span></td>
              <td class="position">18</td>
              <td class="dinamyc"><span class="zero">0</span></td>
            </tr>
            <tr>
              <td class="request">официальный дилер бмв в москве</td>
              <td class="position">4</td>
              <td class="dinamyc"><span class="plus">4</span></td>
              <td class="position">14</td>
              <td class="dinamyc"><span class="zero">0</span></td>
            </tr>
            <tr>
              <td class="request">дилер бмв</td>
              <td class="position">3</td>
              <td class="dinamyc"><span class="zero">0</span></td>
              <td class="position">12</td>
              <td class="dinamyc"><span class="zero">0</span></td>
            </tr>
            <tr>
              <td class="request">бмв новая цена</td>
              <td class="position">7</td>
              <td class="dinamyc"><span class="minus">1</span></td>
              <td class="position">4</td>
              <td class="dinamyc"><span class="minus">2</span></td>
            </tr>
          </table>
        </section>
        <section ng-class="{active: whyCommunicationsGoDown}">
          <a href="#" class="close" ng-click="toggle('whyCommunicationsGoDown', false)">{% include icons/close.svg %}</a>
          <h3>
            <span>Хорошо. С кликами разобрались.</span>
            Но почему коммуникации упали на 9.3%?
          </h3>
          <p>
            Эффективность Яндекс.Директ упала, конверсия площадки стала ниже,<br />
            чем у Google.Adwords. Нужно принять меры по оптимизации. 
          </p>
          <p><span>А пока бюджет можно перераспределить в пользу Google.Adwords.</span></p>
          <table class="right">
            <tr class="grey">
              <td class="channels">По каналам</td>
              <td class="budget">Бюджет</td>
              <td class="clicks">Клики</td>
              <td class="conversion">Конверсия</td>
              <td class="communication">Коммуникации</td>
              <td class="price">Цена</td>
            </tr>
            <tr>
              <td class="channels">Google.Adwords</td>
              <td class="budget"><span class="minus">18.20%</span></td>
              <td class="clicks"><span class="minus">15.10%</span></td>
              <td class="conversion"><span class="plus">2.76%</span></td>
              <td class="communication"><span class="minus">12.77%</span></td>
              <td class="price"><span class="minus">6.26%</span></td>
            </tr>
            <tr>
              <td class="channels grey">01.10.13 — 31.10.13</td>
              <td class="budget">195 908</td>
              <td class="clicks">9260</td>
              <td class="conversion">2.90%</td>
              <td class="communication">269</td>
              <td class="price">370</td>
            </tr>
            <tr>
              <td class="channels grey">01.11.13 — 30.11.13</td>
              <td class="budget">160 193</td>
              <td class="clicks">7 861</td>
              <td class="conversion">2.98%</td>
              <td class="communication">234</td>
              <td class="price">684</td>
            </tr>
            <tr>
              <td class="channels">Яндекс.Директ</td>
              <td class="budget"><span class="minus">24.30%</span></td>
              <td class="clicks"><span class="minus">23.60%</span></td>
              <td class="conversion"><span class="minus">34.04%</span></td>
              <td class="communication"><span class="minus">51.86%</span></td>
              <td class="price"><span class="minus">57.16%</span></td>
            </tr>
            <tr>
              <td class="channels grey">01.10.13 — 31.10.13</td>
              <td class="budget">366 837</td>
              <td class="clicks">29 569</td>
              <td class="conversion">2.70%</td>
              <td class="communication">798</td>
              <td class="price">460</td>
            </tr>
            <tr>
              <td class="channels grey">01.11.13 — 30.11.13</td>
              <td class="budget">277 704</td>
              <td class="clicks">22 596</td>
              <td class="conversion">1.70%</td>
              <td class="communication">384</td>
              <td class="price">723</td>
            </tr>
          </table>
        </section>
      </div>
      <h3 id="step2-header2" du-scrollspy="step2-header2" du-spy-context offset="//getOffset()//">
        Отвечаем на главный вопросы отдела<br />
        маркетинга вашей компании:
      </h3>
      <ul class="list">
        <li id="step2-list1" du-scrollspy="step2-list1" du-spy-context offset="//getOffset()//">почему упала отдача от рекламы?</li>
        <li id="step2-list2" du-scrollspy="step2-list2" du-spy-context offset="//getOffset()//">кто из подрядчиков работает недостаточно хорошо?</li>
        <li id="step2-list3" du-scrollspy="step2-list3" du-spy-context offset="//getOffset()//">как составить максимально эффективный медиаплан?</li>
      </ul>
    </section>
  </div>
  <div class="step third" id="step3" style="background-image: url({{"/assets/images/backgrounds/step3.jpg" | prepend: site.baseurl }});">
    <section>
      <h2 id="step3-header1" du-scrollspy="step3-header1" du-spy-context offset="//getOffset()//">
        {% include icons/details.svg %}
        <span>
          Детализация каждого этапа<br />
          воронки на стороне бизнеса
        </span>
      </h2>
      <p id="step3-text1" du-scrollspy="step3-text1" du-spy-context offset="//getOffset()//">Выясняем, на каких этапах теряются клиенты и прибыль.</p>
      <div class="funnels">
        <ul>
          <li id="step3-funnels1" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset()//">
            <ul class="cut-top">
              <li>
                <span>Контракты</span>
                <p>149</p>
                <b>76% — конверсия в оплату</b>
                <i class="minus" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset() / 2//">6.0%</i>
              </li>
              <li>
                <span>Оплаченные контракты</span>
                <p>113</p>
                <b>1 340 000 р — средний чек</b>
                <i class="minus" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset() / 2 - 50//">3.4%</i>
              </li>
              <li>
                <span>Оборот</span>
                <p>151 420 000<span> р</span></p>
                <b>4,01% — маржинальность</b>
                <i class="plus" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset() / 2 - 100//">5.2%</i>
              </li>
              <li>
                <span>Доход</span>
                <p>6 056 800<span> р</span></p>
                <i class="minus" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset() / 2 - 150//">6.0%</i>
                <div class="button" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset() / 2 - 175//">
                  <a href="#" ng-click="toggle('whyBudgetGoDown', true)"><span>Почему так?</span></a>
                </div>
              </li>
              <li class="orange">
                <span>ROI</span>
                <p>398%</p>
                <i class="minus" du-scrollspy="step3-funnels1" du-spy-context offset="//getOffset() / 2 - 200//">11.6%</i>
              </li>
            </ul>
          </li>
        </ul>
        <section ng-class="{active: whyBudgetGoDown}">
          <a href="#" class="close" ng-click="toggle('whyBudgetGoDown', false)">{% include icons/close.svg %}</a>
          <h3>Если оборот вырос на 5,2%, почему же снизился доход?</h3>
          <p>
            Кто-то из менеджеров по продажам стал давать слишком большие скидки,<br />
            стараясь выполнить план по количеству продаж.
          </p>
          <p><span>Возможно, стоит пересмотреть систему KPI у продажников?</span></p>
          <table class="auto">
            <tr class="grey">
              <td class="employee">Сотрудник</td>
              <td class="contracts">Контракты</td>
              <td class="payments">Оплаты</td>
              <td class="downloads">Отгрузки</td>
              <td class="sum">Сумма</td>
              <td class="discount">Средняя скидка</td>
            </tr>
            <tr class="head">
              <td class="employee">Аклимов Артур</td>
              <td class="contracts"><span class="plus">131.25%</span></td>
              <td class="payments"><span class="plus">160.63%</span></td>
              <td class="downloads"><span class="plus">140.00%</span></td>
              <td class="sum"><span class="plus">132.19%</span></td>
              <td class="discount"><span class="minus">215.56%</span></td>
            </tr>
            <tr>
              <td class="employee">Октябрь 2014</td>
              <td class="contracts">16</td>
              <td class="payments">11</td>
              <td class="downloads">10</td>
              <td class="sum">15 375 483 р</td>
              <td class="discount">4.50%</td>
            </tr>
            <tr>
              <td class="employee">Ноябрь 2014</td>
              <td class="contracts">21</td>
              <td class="payments">17</td>
              <td class="downloads">14</td>
              <td class="sum">20 328 210 р</td>
              <td class="discount">9.70%</td>
            </tr>
            <tr class="head">
              <td class="employee">Незалежная Мария</td>
              <td class="contracts"><span class="minus">16.67%</span></td>
              <td class="payments"><span class="minus">9.47%</span></td>
              <td class="downloads"><span class="plus">110.00%</span></td>
              <td class="sum"><span class="plus">104.16%</span></td>
              <td class="discount"><span class="plus">1.82%</span></td>
            </tr>
            <tr>
              <td class="employee">Октябрь 2014</td>
              <td class="contracts">14</td>
              <td class="payments">11</td>
              <td class="downloads">10</td>
              <td class="sum">13 560 000 р</td>
              <td class="discount">5.60%</td>
            </tr>
            <tr>
              <td class="employee">Ноябрь 2014</td>
              <td class="contracts">12</td>
              <td class="payments">10</td>
              <td class="downloads">11</td>
              <td class="sum">14 124 000 р</td>
              <td class="discount">5.50%</td>
            </tr>
          </table>
        </section>
      </div>
      <h3 id="step3-header2" du-scrollspy="step3-header2" du-spy-context offset="//getOffset()//">
        Строим индивидуальную отчетность,<br />
        которая помогает оценить эффективность бизнес-процессов:
      </h3>
      <ul class="list">
        <li id="step3-list1" du-scrollspy="step3-list1" du-spy-context offset="//getOffset()//">сколько звонков в месяц теряет колл-центр?</li>
        <li id="step3-list2" du-scrollspy="step3-list2" du-spy-context offset="//getOffset()//">какая модель авто имеет самый высокий показатель ROI?</li>
        <li id="step3-list3" du-scrollspy="step3-list3" du-spy-context offset="//getOffset()//">как можно улучшить показатели отдела продаж?</li>
      </ul>
    </section>
  </div>
  <div class="step fourth" id="step4" style="background-image: url({{"/assets/images/backgrounds/step4.jpg" | prepend: site.baseurl }});">
    <section>
      <h2 id="step4-header1" du-scrollspy="step4-header1" du-spy-context offset="//getOffset()//">
        {% include icons/brilliant.svg %}
        <span>
          Помогаем бизнесу<br />
          увеличить чистую прибыль
        </span>
      </h2>
      <p id="step4-text1" du-scrollspy="step4-text1" du-spy-context offset="//getOffset()//">
        Каждый этап становится прозрачным. Решения принимаются,<br />
        опираясь не на домыслы или «экспертные мнения», а на реальные цифры.
      </p>
      <div class="funnels">
        <ul du-scrollspy="step4-funnels2" du-spy-context offset="//getOffset() / 2 + 75//">
          <li id="step4-funnels1" du-scrollspy="step4-funnels1" du-spy-context offset="//getOffset()//">
            <p>
              Собрали данные,<br />
              задали правильные вопросы,<br />
              нашли проблемы.
            </p>
            <ul>
              <li>
                <span>Рекламный бюджет</span>
                <p>1 218 708<span> р</span></p>
                <b>10,17 р — цена клика</b>
              </li>
              <li>
                <span>Клики</span>
                <p>119 808</p>
                <b>4,22% — конверсия в коммуникации</b>
              </li>
              <li>
                <span>Коммуникации</span>
                <p>5 061</p>
                <b>1,77% — конверсия в уник. коммуникации</b>
              </li>
              <li>
                <span>Уникальные коммуникации</span>
                <p>2 122</p>
                <b>7% — конверсия в контракты</b>
              </li>
              <li>
                <span>Контракты</span>
                <p>149</p>
                <b>76% — конверсия в оплату</b>
              </li>
              <li>
                <span>Оплаченные контракты</span>
                <p>113</p>
                <b>1 340 000 р — средний чек</b>
              </li>
              <li>
                <span>Оборот</span>
                <p>151 420 000<span> р</span></p>
                <b>4,01% — маржинальность</b>
              </li>
              <li>
                <span>Доход</span>
                <p>6 056 800<span> р</span></p>
              </li>
              <li class="orange">
                <span>ROI</span>
                <p>398%</p>
              </li>
            </ul>
          </li>
          <li id="step4-funnels2" du-scrollspy="step4-funnels2" du-spy-context offset="//getOffset() / 2 + 75//">
            <p>
              Оптимизировали проблемные<br />
              места, увеличили ROI, переходим<br />
              к следующим вопросам.
            </p>
            <ul>
              <li>
                <span>Рекламный бюджет</span>
                <p>1 365 200<span> р</span></p>
                <b>9,59 р — цена клика</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="100">12,02%</i>
              </li>
              <li>
                <span>Клики</span>
                <p>142 350</p>
                <b>4,74% — конверсия в коммуникации</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="50">18,82%</i>
              </li>
              <li>
                <span>Коммуникации</span>
                <p>6 752</p>
                <b>1,99% — конверсия в уник. коммуникации</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="0">33,41%</i>
              </li>
              <li>
                <span>Уникальные коммуникации</span>
                <p>2 834</p>
                <b>7% — конверсия в контракты</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-50">33,55%</i>
              </li>
              <li>
                <span>Контракты</span>
                <p>198</p>
                <b>77% — конверсия в оплату</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-100">33,13%</i>
              </li>
              <li>
                <span>Оплаченные контракты</span>
                <p>153</p>
                <b>1 310 000 р — средний чек</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-150">35,17%</i>
              </li>
              <li>
                <span>Оборот</span>
                <p>200 094 713<span> р</span></p>
                <b>4,20% — маржинальность</b>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-200">32,15%</i>
              </li>
              <li>
                <span>Доход</span>
                <p>8 403 978<span> р</span></p>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-250">38,41%</i>
              </li>
              <li class="orange">
                <span>ROI</span>
                <p>516%</p>
                <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-300">29,47%</i>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>