<div id="banner">
  <section>
    <section>
      <div>
        <p>Авторынок:</p>
        <span>Автоматизация реальна</span>
      </div>
      <aside>
        <h1>Рост продаж на фоне падающего рынка</h1>
        <p>
          Будем обсуждать инструменты автоматизации и аналитики
          <br />
          в автомобильном сегменте, <span>кейс от ГК "Независимость"</span>,
          <br />
          а также данные ведущих отраслевых площадок.
        </p>
      </aside>
    </section>
    <section>
      <p>
        <span>30 июля 2015</span> мы проводим закрытую
        <br />
        конференцию для автодиллеров и импортеров.
      </p>
      <nav>
        <a>Узнайте подробности и запишитесь</a>
      </nav>
    </section>
  </section>
</div>