<footer>
  <section>
    {% include logo.html %}
    <p>Все права защищены © 2015</p>
  </section>
  <aside>
    <nav>
      <a href="callto:+74952369238">
        {% include icons/phone.svg %}
        <span class="call_phone_1">+7 495 236 92 38</span>
      </a>
      <a href="mailto:info@roi.rs">
        {% include icons/mail.svg %}
        <span>info@roi.rs</span>
      </a>
    </nav>
  </aside>
  <div>
    <nav>
      <a href="/assets/pdf/ROIRS.pdf" class="download">
        {% include icons/download.svg %}
        <span>Скачать презентацию <span>PDF</span></span>
      </a>
    </nav>
  </div>
</footer>