<footer spark-scroll-animate="{topBottom: {opacity: 0, translateY: '100%'}, bottomBottom: {opacity: 1, translateY: '0'}}">
  <section>
    <h1>
      <a href="/">
        {% include icons/logo.svg %}
        <span>{{site.title}}</span>
      </a>
    </h1>
    <p>Все права защищены © 2015</p>
  </section>
  <div>
    <nav>
      <a href="#" class="download">
        {% include icons/download.svg %}
        <span>Скачать презентацию <span>PDF</span></span>
      </a>
    </nav>
  </div>
  <aside>
    <nav>
      <a href="callto:+74956486639">
        {% include icons/phone.svg %}
        <span>+7 495 648 66 39</span>
      </a>
      <a href="mailto:info@roi.rs">
        {% include icons/mail.svg %}
        <span>info@roi.rs</span>
      </a>
    </nav>
  </aside>
</footer>