<header>
  <section>
    {% include logo.html %}
    <nav>
      <a href="callto:+74952369238">
        {% include icons/phone.svg %}
        <span class="call_phone_1">+7 495 236 92 38</span>
      </a>
      <a href="mailto:info@roi.rs">
        {% include icons/mail.svg %}
        <span>info@roi.rs</span>
      </a>
    </nav>
  </section>
  <aside>
    <nav>
      <a class="connect" ng-click="displayConnect()">
        {% include icons/connect.svg %}
        <span>Регистрация</span>
      </a>
      <!-- <a href="#" ng-click="showLogin = !showLogin"> -->
      <a href="https://dashboard.roi.rs/">
        {% include icons/login.svg %}
        <span>Вход для клиентов</span>
      </a>
    </nav>
  </aside>
</header>