<header>
  <section>
    {% include logo.html %}
    <nav>
      <a href="callto:+74956486639">
        {% include icons/phone.svg %}
        <span>+7 495 648 66 39</span>
      </a>
      <a href="mailto:info@roi.rs">
        {% include icons/mail.svg %}
        <span>info@roi.rs</span>
      </a>
    </nav>
  </section>
  <aside>
    <nav>
      <a class="connect" ng-click="showConnect = !showConnect">
        {% include icons/connect.svg %}
        <span>Регистрация</span>
      </a>
      <a href="#" ng-click="showLogin = !showLogin">
        {% include icons/login.svg %}
        <span>Вход для клиентов</span>
      </a>
    </nav>
  </aside>
</header>