<ul class="steps">
  <li du-scrollspy="step1" offset="{{offset}}" class="active">
    <span>
      Проясняем<br />
      туманы
    </span>
    <b>1</b>
  </li>
  <li du-scrollspy="step2" offset="{{offset}}">
    <span>
      Анализируем<br />
      маркетинг
    </span>
    <b>2</b>
  </li>
  <li du-scrollspy="step3" offset="{{offset}}">
    <span>
      Оцениваем<br />
      бизнес-процессы
    </span>
    <b>3</b>
  </li>
  <li du-scrollspy="step4" offset="{{offset}}">
    <span>
      Увеличиваем<br />
      прибыль
    </span>
    <b>4</b>
  </li>
</ul>