<div class="steps-wrapper" du-scrollspy="steps" offset="//getOffset() * 1.5//">
  <div class="steps-top-wrapper" du-scrollspy="step1" offset="//getOffset() / 2//">
    <div class="steps-middle-wrapper" du-scrollspy="step2" offset="//getOffset() - 100//">
      <div class="steps-bottom-wrapper" du-scrollspy="step3" offset="//getOffset() - 100//">
        <ul class="steps" du-scrollspy="step4" offset="//getOffset() - 100//">
          <li class="step1">
            <span>
              Проясняем<br />
              туманы
            </span>
            <a href="#step1" du-smooth-scroll offset="-135">1</a>
          </li>
          <li class="step2">
            <span>
              Анализируем<br />
              маркетинг
            </span>
            <a href="#step2" du-smooth-scroll offset="-75">2</a>
          </li>
          <li class="step3">
            <span>
              Оцениваем<br />
              бизнес-процессы
            </span>
            <a href="#step3" du-smooth-scroll offset="-75">3</a>
          </li>
          <li class="step4">
            <span>
              Увеличиваем<br />
              прибыль
            </span>
            <a href="#step4" du-smooth-scroll offset="-75">4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>