<div class="steps-wrapper" du-scrollspy="steps" offset="/*getOffset() * 1.5/*">
  <div class="steps-top-wrapper" du-scrollspy="step1" offset="/*getOffset() / 2/*">
    <div class="steps-middle-wrapper" du-scrollspy="step2" offset="/*getOffset() - 100/*">
      <div class="steps-bottom-wrapper" du-scrollspy="step3" offset="/*getOffset() - 100/*">
        <ul class="steps" du-scrollspy="step4" offset="/*getOffset() - 100/*">
          <li class="step1">
            <a href="#step1" du-smooth-scroll offset="-135">
              <span>
                Проясняем<br />
                туманы
              </span>
              <b>1</b>
            </a>
          </li>
          <li class="step2">
            <a href="#step2" du-smooth-scroll offset="-75">
              <span>
                Анализируем<br />
                маркетинг
              </span>
              <b>2</b>
            </a>
          </li>
          <li class="step3">
            <a href="#step3" du-smooth-scroll offset="-75">
              <span>
                Оцениваем<br />
                бизнес-процессы
              </span>
              <b>3</b>
            </a>
          </li>
          <li class="step4">
            <a href="#step4" du-smooth-scroll offset="-75">
              <span>
                Увеличиваем<br />
                прибыль
              </span>
              <b>4</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>