---
layout: conf
---

<div id="estate-conf" ng-controller="EstateConfFormCtrl">
  <header>
    <section>
      <p>Закрытая конференция для представителей индустрии недвижимости.</p>
      <h1>{% include icons/estate_conf_logo.svg %}</h1>
      <b>19 ноября 2015 </b>
      <nav>
        <a href="#form" du-smooth-scroll>Записаться</a>
      </nav>
      <span>Количество мест ограничено</span>
    </section>
    <div class="icons">
      <img src="{{ "icons.png" | prepend: site.baseurl }}">
    </div>
  </header>
  <p>Только для руководителей и сотрудников отдела маркетинга застройщиков и девелоперов.</p>
  <div class="program" id="program">
    <section>
      <section>
        <h2>Программа</h2>
        <ul>
          <li>
            <span>10:00 - 10:30</span>
            <h3>
              Регистрация
            </h3>
          </li>
          <li>
            <span>10:30 - 11:00</span>
            <h3>Доклад Яндекса</h3>
          </li>
          <li>
            <span>11:00 - 11:30</span>
            <h3>CallTouch — Алексей Авдеев</h3>
            <p>
              Инструкция: как потратить как можно
              <br />
              больше денег на рекламу без отдачи
            </p>
          </li>
          <li>
            <span>11:30 — 12:00</span>
            <h3>RO!RS — Максим Пичесвский</h3>
            <p>
              Инструкция: как потратить как можно
              <br />
              больше денег на рекламу без отдачи
            </p>
          </li>
          <li>
            <span>12:00 — 12:30</span>
            <h3>Кофе-брейк</h3>
            {% include icons/coffee.svg %}
          </li>
          <li>
            <span>12:30 — 13:00</span>
            <h3>Mail.ru — Сергей Кохичко</h3>
          </li>
        </ul>
      </section>
      <aside>
        <p>
          Будем обсуждать инструменты автоматизации
          <br />
          и аналитики в сфере коммерческой
          <br />
          и жилой недвижимости,
        </p>
        <h2>
          <span>
            РОСТ ПРОДАЖ НА ФОНЕ
            <br />
            ПАДАЮЩЕГО РЫНКА
          </span>
        </h2>
        <p>а также данные ведущих отраслевых площадок.</p>
        <p id="form">
          Для записи на конференцию
          <br />
          заполните форму, пожалуйста.
        </p>
        <form name="confForm" ng-submit="send(message)">
          <section>
            <div>
              <label for="name">Имя *</label>
              <input
                type="text"
                name="name"
                id="name"
                ng-model="message.name"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="email">Почта *</label>
              <input
                type="email"
                name="email"
                id="email"
                ng-model="message.email"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="company">Компания *</label>
              <input
                type="text"
                name="company"
                id="company"
                ng-model="message.company"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="position">Должность *</label>
              <input
                type="text"
                name="position"
                id="position"
                ng-model="message.position"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="comment">Комментарий</label>
              <textarea
                name="comment"
                id="comment"
                ng-model="message.comment"
                ng-disabled="get('busy')"
              >
              </textarea>
            </div>
            <section ng-class="{active: confThankYou}">
              <div>
                <h2>Спасибо.</h2>
                <h3>Мы приняли вашу заявку.</h3>
                <p>
                  В ближайшее время отправим
                  <br />
                  письмо с подробностями
                  <br />
                  на ваш ящик электронной почты.
                </p>
              </div>
            </section>
          </section>
          <input type="submit" value="Отправить заявку" ng-disabled="confForm.$invalid" ng-class="{hidden: confThankYou}" />
          <span ng-class="{active: confThankYou}">Заявка отправлена</span>
        </form>
      </aside>
    </section>
  </div>
</div>