---
layout: conf
---

<div id="estate-conf" ng-controller="EstateConfFormCtrl">
  <header>
    <section>
      <p>Закрытая конференция для представителей индустрии недвижимости.</p>
      <h1>{% include icons/estate_conf_logo.svg %}</h1>
      <b>19 ноября 2015 </b>
      <nav>
        <a href="#form" du-smooth-scroll>Записаться</a>
      </nav>
      <span>Количество мест ограничено</span>
    </section>
    <div class="icons">
      <img src="{{ "/estate_conf_2015/icons.png" | prepend: site.baseurl | prepend: site.url }}">
    </div>
  </header>
  <p>Только для руководителей и сотрудников отдела маркетинга застройщиков и девелоперов.</p>
  <div class="program" id="program">
    <section>
      <p>
        Бизнес-завтрак об инструментах автоматизации
        <br />
        и аналитики в сфере коммерческой и жилой недвижимости.
      </p>
      <section>
        <h2>Программа</h2>
        <ul>
          <li>
            <span>10:00 - 10:20</span>
            <h3>
              Регистрация
            </h3>
          </li>
          <li>
            <span>10:20 - 10:50</span>
            <h3>Яндекс — Сергей Тимохин</h3>
            <p>Обзор индустрии Недвижимость в 2015.</p>
          </li>
          <li>
            <span>10:50 - 11:20</span>
            <h3>CallTouch — Алексей Авдеев</h3>
            <p>Инструкция: как потратить как можно больше денег на рекламу без отдачи.</p>
          </li>
          <li>
            <span>11:20 — 11:50</span>
            <h3>RO!RS — Максим Пичевский</h3>
            <p>Маркетинг без бубна! Автоматизация отчетности, визуализация данных, масштабирование рекламного бюджета.</p>
          </li>
          <li>
            <span>11:50 — 12:40</span>
            <h3>Кофе-брейк</h3>
            {% include icons/coffee.svg %}
          </li>
          <li>
            <span>12:40 — 13:10</span>
            <h3>Mail.Ru — Сергей Кохичко</h3>
            <p>Купи слона: продажа объектов недвижимости в социальных сетях.</p>
          </li>
          <li>
            <span>13:10 — 13:40</span>
            <h3>Галс — Ростислав Орлов</h3>
          </li>
          <li>
            <span>13:40 — 14:10</span>
            <h3>Кар-Фин — Кирилл Ларин</h3>
            <p>Конвертации «ипотечного» трафика сайта застройщика - как получать больше заявок.</p>
          </li>
          <li>
            <span>14:10 — 14:40</span>
            <h3>Profitbase — Оксана Дундина</h3>
            <p>Продажа новостроек от показов рекламы до сделки.</p>
          </li>
        </ul>
      </section>
      <aside>
        <p>Место проведения: <a href="https://maps.yandex.ru/?z=14&ll=37.54012359790037,55.798376489674126&l=map&origin=jsapi_2_1_29" target="_blank">Москва, Mail.Ru Group, Ленинградский проспект 39, стр. 79</a>.</p>
        <p id="form">Для записи на конференцию заполните форму, пожалуйста.</p>
        <form name="confForm" ng-submit="send(message)" action="#">
          <section>
            <div>
              <label for="name">Имя *</label>
              <input
                type="text"
                name="name"
                id="name"
                ng-model="message.name"
                ng-required="true"
                ng-disabled="get('busy')"
                autocomplete="off"
              />
            </div>
            <div>
              <label for="email">Почта *</label>
              <input
                type="email"
                name="email"
                id="email"
                ng-model="message.email"
                ng-required="true"
                ng-disabled="get('busy')"
                autocomplete="off"
              />
            </div>
            <div>
              <label for="company">Компания *</label>
              <input
                type="text"
                name="company"
                id="company"
                ng-model="message.company"
                ng-required="true"
                ng-disabled="get('busy')"
                autocomplete="off"
              />
            </div>
            <div>
              <label for="position">Должность *</label>
              <input
                type="text"
                name="position"
                id="position"
                ng-model="message.position"
                ng-required="true"
                ng-disabled="get('busy')"
                autocomplete="off"
              />
            </div>
            <div>
              <label for="phone">Телефон *</label>
              <input
                type="text"
                name="phone"
                id="phone"
                pattern="[0-9+]{12}"
                ng-model="message.phone"
                ng-required="true"
                ng-disabled="get('busy')"
                autocomplete="off"
              />
            </div>
            <div>
              <label for="comment">Комментарий</label>
              <textarea
                name="comment"
                id="comment"
                ng-model="message.comment"
                ng-disabled="get('busy')"
              >
              </textarea>
            </div>
            <section ng-class="{active: confThankYou}">
              <div>
                <h2>Спасибо.</h2>
                <h3>Мы приняли вашу заявку.</h3>
                <p>
                  В ближайшее время отправим
                  <br />
                  письмо с подробностями
                  <br />
                  на ваш ящик электронной почты.
                </p>
              </div>
            </section>
          </section>
          <input type="submit" value="Отправить заявку" ng-disabled="confForm.$invalid" ng-class="{hidden: confThankYou}" />
          <span ng-class="{active: confThankYou}">Заявка отправлена</span>
        </form>
      </aside>
    </section>
  </div>
</div>