---
layout: conf
---

<div id="estate-conf">
  <header>
    <section>
      <p>Закрытая конференция для представителей индустрии недвижимости.</p>
      <h1>{% include icons/estate_conf_logo.svg %}</h1>
      <b>19 ноября 2015 </b>
      <!--
      <nav>
        <a href="https://corp.mail.ru/ru/press/events/CallDayRealty/" du-smooth-scroll>Записаться</a>
      </nav>
      <span>Количество мест ограничено</span>
      -->
    </section>
    <div class="icons">
      <img src="{{ "/estate_conf_2015/icons.png" | prepend: site.baseurl | prepend: site.url }}">
    </div>
  </header>
  <p>Только для руководителей и сотрудников отдела маркетинга застройщиков и девелоперов.</p>
  <div class="program" id="program">
    <section>
      <p>
        Бизнес-завтрак об инструментах автоматизации
        <br />
        и аналитики в сфере коммерческой и жилой недвижимости.
      </p>
      <section>
        <h2>Программа</h2>
        <ul>
          <li>
            <span>10:00 - 10:20</span>
            <h3>
              Регистрация
            </h3>
          </li>
          <li>
            <span>10:20 - 10:50</span>
            <h3>Яндекс — Сергей Тимохин</h3>
            <p>Обзор индустрии Недвижимость в 2015.</p>
          </li>
          <li>
            <span>10:50 - 11:20</span>
            <h3>CallTouch — Алексей Авдеев</h3>
            <p>Инструкция: как потратить как можно больше денег на рекламу без отдачи.</p>
          </li>
          <li>
            <span>11:20 — 11:50</span>
            <h3>RO!RS — Максим Пичевский</h3>
            <p>Маркетинг без бубна! Автоматизация отчетности, визуализация данных, масштабирование рекламного бюджета.</p>
          </li>
          <li>
            <span>11:50 — 12:40</span>
            <h3>Кофе-брейк</h3>
            {% include icons/coffee.svg %}
          </li>
          <li>
            <span>12:40 — 13:10</span>
            <h3>Mail.Ru — Сергей Кохичко</h3>
            <p>Купи слона: продажа объектов недвижимости в социальных сетях.</p>
          </li>
          <li>
            <span>13:10 — 13:40</span>
            <h3>Ирина Златовратская - Недвижимость Mail.Ru</h3>
            <p>Не как все - двигаем Недвижимость</p>
          </li>
          <li>
            <span>13:40 — 14:10</span>
            <h3>Кар-Фин — Кирилл Ларин</h3>
            <p>Конвертации «ипотечного» трафика сайта застройщика - как получать больше заявок.</p>
          </li>
          <li>
            <span>14:10 — 14:40</span>
            <h3>Profitbase — Оксана Дунина, Николай Адеев</h3>
            <p>Автоматизация маркетинга и продаж застройщика: от быстрого старта к комплексной интеграции.</p>
          </li>
        </ul>
      </section>
      <!--
      <nav>
        <a href="https://corp.mail.ru/ru/press/events/CallDayRealty/" du-smooth-scroll>Записаться</a>
      </nav>
      -->
    </section>
  </div>
</div>