---
---

@import "components/extras"
@import "components/colors"

/* fonts

@font-face
  :font-family "Lato"
  :font-style normal
  :font-weight normal
  :src local("Lato") , url({{"/assets/fonts/Lato-Regular.eot" | prepend: site.baseurl}}) format("oet"), local("Lato"), url({{"/assets/fonts/Lato-Regular.woff" | prepend: site.baseurl}}) format("woff"), local("Lato"), url({{"/assets/fonts/Lato-Regular.ttf" | prepend: site.baseurl}}) format("truetype"), url({{"/assets/fonts/Lato-Regular.svg" | prepend: site.baseurl}}) format('svg')

@font-face
  :font-family "Lato Light"
  :font-style normal
  :font-weight light
  :src local("Lato Light") , url({{"/assets/fonts/Lato-Light.eot" | prepend: site.baseurl}}) format("oet"), local("Lato Light"), url({{"/assets/fonts/Lato-Light.woff" | prepend: site.baseurl}}) format("woff"), local("Lato Light"), url({{"/assets/fonts/Lato-Light.ttf" | prepend: site.baseurl}}) format("truetype"), url({{"/assets/fonts/Lato-Light.svg" | prepend: site.baseurl}}) format('svg')

@font-face
  :font-family "Lato Bold"
  :font-style normal
  :font-weight bold
  :src local("Lato Bold") , url({{"/assets/fonts/Lato-Bold.eot" | prepend: site.baseurl}}) format("oet"), local("Lato Bold"), url({{"/assets/fonts/Lato-Bold.woff" | prepend: site.baseurl}}) format("woff"), local("Lato Bold"), url({{"/assets/fonts/Lato-Bold.ttf" | prepend: site.baseurl}}) format("truetype"), url({{"/assets/fonts/Lato-Bold.svg" | prepend: site.baseurl}}) format('svg')

$base: 1.25em
$baseline: 1rem

$ninesixty_gutter_width: $baseline / 2
$ninesixty_grid_width: 100%
$ninesixty_columns: 8

$min_width: $ninesixty_gutter_width * 102.4
$max_width: $ninesixty_gutter_width * 144

html
  :min-height 100%
  :height 100%
  :background $brown
  :font
    :size $base
    :family Lato, sans-serif
  
html, html a
  :color $white

*
  +children-list-fix

*, *:before, *:after
  +box-sizing
  :-webkit-font-smoothing antialiased

body
  :font
    :size $baseline
  :height 100%
  :min-height 100%

#container
  :position relative
  :min-width $min_width
  :height 100%
  :line-height $baseline
  
  > form
    :position absolute
    :z-index 100
    :top $baseline * 8
    :left 50%
    :margin
      :left -$ninesixty_gutter_width * 30
    :padding $ninesixty_gutter_width * 4
    :width $ninesixty_gutter_width * 60
    :background $white
    
    > label
      :display block
      :font
        :size $baseline * 0.7
      :color $black
    
    > input, > textarea
      :display block
      :background $grey
      :color $brown
      :width 100%
      
      & + *
        :margin
          :top $baseline
  
  > .steps
    :position absolute
    :height $baseline * 19
    :top 50%
    :right $ninesixty_gutter_width * 4
    :margin
      :top -$baseline * 9.5
    :text-align right
    +opacity(0)
    +translate-x(300%)
    +transition(all .5s ease-out)
    +transition-property(transform, opacity)
    
    > li
      :position relative
      :height $baseline * 2.5
      :padding
        :top $baseline * 0.05
        :bottom $baseline * 0.05
      +children-inline
    
      > span
        :margin
          :top $baseline * 0.2
          :bottom $baseline * 0.2
        :font
          :size $baseline * 0.9
        +opacity(1)
        :visibility visible
        :color $grey
        +transition(all .25s ease-out)
        +transition-property(opacity, visibility)
      
        & + *
          :margin
            :left $ninesixty_gutter_width
    
      > b
        :font
          :weigt normal
        :text-align center
        :width $baseline * 2.4
        :height $baseline * 2.4
        :line-height calc(#{$baseline * 2.4} - 2px)
        :color $grey
        :background $white
        :border 1px solid $white
        +border-radius($baseline * 1.2)
        +transition(all .25s ease-out)
        +transition-property(background, border, color)
      
      &:before
        :display none
        :content ''
        :position absolute
        :width 1px
        :height $baseline * 2.5
        :background $white
        :right $baseline * 1.2
        :top -$baseline * 3.05
        +transition(background .25s ease-out)
      
      &.active
        > span
          +opacity(1)
          :visibility visible
          :color $white
        
        > b
          :border-color $white
          :background $white
          :color $brown
        
        & ~ *
          > span
            +opacity(0)
            :visibility hidden
          
          > b
            :color $grey
            :background none
            :border-color $grey
          
          &:before
            :background $grey
      
      & + *
        :margin
          :top $baseline * 3
        
        &:before
          :display block
        
        &.active:before
          :background $white
    
    &.active
      +translate-x(0)
      +opacity(1)

@import "parts/header"
@import "parts/footer"
@import "parts/content"

@import "contents/welcome"
@import "contents/info"
@import "contents/how_it_works"
@import "contents/step1"
@import "contents/step2"
@import "contents/step3"
@import "contents/step4"