<div class="how-it-works">
  <h2 id="how-it-works-header" du-scrollspy="how-it-works-header" du-spy-context offset="//getOffset()//">
    <span>Как это всё работает?</span>
  </h2>
  <nav>
    <li id="how-it-works-list1" du-scrollspy="how-it-works-list1" du-spy-context offset="//getOffset()//">
      <a href="#" class="active">у автодилеров</a>
    </li>
    <!--
    <li id="how-it-works-list2" du-scrollspy="how-it-works-list2" du-spy-context offset="//getOffset()//">
      <a href="#">в частных клиниках</a>
    </li>
    <li id="how-it-works-list3" du-scrollspy="how-it-works-list3" du-spy-context offset="//getOffset()//">
      <a href="#">в вашей компании</a>
    </li>
    -->
  </nav>
</div>