<div class="how-it-works">
  <h2 id="how-it-works-header">
    <span du-scrollspy="how-it-works-header" du-spy-context offset="//getOffset()//">Как это всё работает?</span>
  </h2>
  <nav>
    <li id="how-it-works-list1" du-scrollspy="how-it-works-list1" du-spy-context offset="//getOffset()//">
      <a href="#" class="active">
        <span>у автодилеров</span>
      </a>
    </li>
    <!--
    <li id="how-it-works-list2" du-scrollspy="how-it-works-list2" du-spy-context offset="//getOffset()//">
      <a href="#">
        <span>в частных клиниках</span>
      </a>
    </li>
    <li id="how-it-works-list3" du-scrollspy="how-it-works-list3" du-spy-context offset="//getOffset()//">
      <a href="#">
        <span>в вашей компании</span>
      </a>
    </li>
    -->
  </nav>
</div>