<div class="info">
  <h2 id="info-header1" du-scrollspy="info-header1" du-spy-context offset="/*getOffset()/*">
    Автоматизация<br />
    бизнес-аналитики
  </h2>
  <p id="info-text1" du-scrollspy="info-text1" du-spy-context offset="/*getOffset()/*">
    <span>Оценивайте отдачу от маркетинговых затрат</span>
    <span>
      и эффективность всех бизнес-процессов<br />
      компании.
    </span>
    <span>Надстройка над IT-инфраструктурой бизнеса,</span>
    <span>
      интеграция которой<br />
      не требует изменения
    </span>
    <span>существующей архитектуры.</span>
  </p>
  <p id="info-text2" du-scrollspy="info-text2" du-spy-context offset="/*getOffset()/*">
    <span>Сервис собирает информацию из всех</span>
    <span>источников данных, от Google.Analytics до 1С.</span><br />
    <span>И формирует прозрачные и понятные отчеты,</span>
    <span>которые позволят быстро найти</span><br />
    <span>проблемные места в воронке продаж.</span>
  </p>
  <ul>
    <li id="info-list1" du-scrollspy="info-list1" du-spy-context offset="/*getOffset(50)/*">
      {% include icons/dashboard.svg %}
      <h3>Все цифры в одном отчете</h3>
      <p>
        Больше не нужно открывать десять<br />
        файлов, не связанных друг с другом.
      </p>
    </li>
    <li id="info-list2" du-scrollspy="info-list2" du-spy-context offset="/*getOffset()/*">
      {% include icons/globe.svg %}
      <h3>Всегда готовы к просмотру</h3>
      <p>
        Данные доступны онлайн в режиме<br />
        реального времени из любой точки мира.
      </p>
    </li>
    <li id="info-list3" du-scrollspy="info-list3" du-spy-context offset="/*getOffset(50)/*">
      {% include icons/report.svg %}
      <h3>Тонкая настройка отчетов</h3>
      <p>
        Индивидуальные отчеты для решения<br />
        конкретных бизнес-задач.
      </p>
    </li>
    <li id="info-list4" du-scrollspy="info-list4" du-spy-context offset="/*getOffset()/*">
      {% include icons/lock.svg %}
      <h3>Данные под защитой</h3>
      <p>
        Защищенный протокол передачи, сертификаты<br />
        об отсутствии "дырок" в безопасности.
      </p>
    </li>
  </ul>
  <h3 id="info-header2" du-scrollspy="info-header2" du-spy-context offset="/*getOffset()/*">
    <b>Интеграция всех источников,</b>
    <b>сбор данных и создание первого отчета</b><br />
    <b>занимает <span>от 3 дней до 1 месяца</span>.</b>
    <b class="top">Ежемесячная стоимость сервиса</b><br />
    <b>для одного проекта <span>от 30 000</span></b>
    <b><span>до 80 000 рублей</span>.</b>
  </h3>
</div>