<div class="step first" id="step1" style="background-image: url({{"/assets/images/backgrounds/step1.jpg" | prepend: site.baseurl }});">
  <section>
    <h2 id="step1-header1" du-scrollspy="step1-header1" du-spy-context offset="//getOffset()//">
      {% include icons/dollar.svg %}
      <span>
        Не хватает понимания эффективности<br />
        рекламы и бизнес процессов?
      </span>
    </h2>
    <p id="step1-text" du-scrollspy="step1-text" du-spy-context offset="//getOffset()//">
      Много рекламных каналов, коллцентр, отдел продаж,<br />
      отдел сервиса, но нет единой картины?
    </p>
    <div class="funnels">
      <ul>
        <li id="step1-funnels1" du-scrollspy="step1-funnels1" du-spy-context offset="//getOffset()//">
          <div style="background-image: url({{"/assets/images/backgrounds/step1_funnel.jpg" | prepend: site.baseurl }});">
            <span>Рекламный бюджет</span>
            <p>844 305<span> р</span></p>
          </div>
        </li>
      </ul>
      <aside>
        <h3 id="step1-header2" du-scrollspy="step1-header2" du-spy-context offset="//getOffset()//">
          Собираем всю информацию<br />
          и строим единый отчет до ROI:
        </h3>
        <ul class="list">
          <li id="step1-list1" du-scrollspy="step1-list1" du-spy-context offset="//getOffset()//">по каждому рекламному каналу,</li>
          <li id="step1-list2" du-scrollspy="step1-list2" du-spy-context offset="//getOffset()//">по каждому менеджеру,</li>
          <li id="step1-list3" du-scrollspy="step1-list3" du-spy-context offset="//getOffset()//">по доходности каждой модели автомобиля.</li>
        </ul>
      </aside>
    </div>
  </section>
</div>