<div class="step fourth" id="step4" style="background-image: url({{"/assets/images/backgrounds/step4.jpg" | prepend: site.baseurl }});">
  <section>
    <h2 id="step4-header1" du-scrollspy="step4-header1" du-spy-context offset="//getOffset()//">
      {% include icons/brilliant.svg %}
      <span>
        Помогаем бизнесу<br />
        увеличить чистую прибыль
      </span>
    </h2>
    <p id="step4-text1" du-scrollspy="step4-text1" du-spy-context offset="//getOffset()//">
      Каждый этап становится прозрачным. Решения принимаются,<br />
      опираясь не на домыслы или «экспертные мнения», а на реальные цифры.
    </p>
    <div class="funnels">
      <ul du-scrollspy="step4-funnels2" du-spy-context offset="//getOffset() / 2 + 75//">
        <li id="step4-funnels1" du-scrollspy="step4-funnels1" du-spy-context offset="//getOffset()//">
          <h3>До</h3>
          <p>
            Собрали данные,<br />
            задали правильные вопросы,<br />
            нашли проблемы.
          </p>
          <ul>
            <li>
              <span>Рекламный бюджет</span>
              <p>1 218 708<span> р</span></p>
              <b>10,17 р — цена клика</b>
            </li>
            <li>
              <span>Клики</span>
              <p>119 808</p>
              <b>4,22% — конверсия в коммуникации</b>
            </li>
            <li>
              <span>Коммуникации</span>
              <p>5 061</p>
              <b>1,77% — конверсия в уник. коммуникации</b>
            </li>
            <li>
              <span>Уникальные коммуникации</span>
              <p>2 122</p>
              <b>7% — конверсия в контракты</b>
            </li>
            <li>
              <span>Контракты</span>
              <p>149</p>
              <b>76% — конверсия в оплату</b>
            </li>
            <li>
              <span>Оплаченные контракты</span>
              <p>113</p>
              <b>1 340 000 р — средний чек</b>
            </li>
            <li>
              <span>Оборот</span>
              <p>151 420 000<span> р</span></p>
              <b>4,01% — маржинальность</b>
            </li>
            <li>
              <span>Доход</span>
              <p>6 056 800<span> р</span></p>
            </li>
            <li class="orange">
              <span>ROI</span>
              <p>398%</p>
            </li>
          </ul>
        </li>
        <li id="step4-funnels2" du-scrollspy="step4-funnels2" du-spy-context offset="//getOffset() / 2 + 75//">
          <h3>После</h3>
          <p>
            Оптимизировали проблемные<br />
            места, увеличили ROI, переходим<br />
            к следующим вопросам.
          </p>
          <ul class="far">
            <li>
              <span>Рекламный бюджет</span>
              <p>1 365 200<span> р</span></p>
              <b>9,59 р — цена клика</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="100">12,02%</i>
            </li>
            <li>
              <span>Клики</span>
              <p>142 350</p>
              <b>4,74% — конверсия в коммуникации</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="50">18,82%</i>
            </li>
            <li>
              <span>Коммуникации</span>
              <p>6 752</p>
              <b>1,99% — конверсия в уник. коммуникации</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="0">33,41%</i>
            </li>
            <li>
              <span>Уникальные коммуникации</span>
              <p>2 834</p>
              <b>7% — конверсия в контракты</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-50">33,55%</i>
            </li>
            <li>
              <span>Контракты</span>
              <p>198</p>
              <b>77% — конверсия в оплату</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-100">33,13%</i>
            </li>
            <li>
              <span>Оплаченные контракты</span>
              <p>153</p>
              <b>1 310 000 р — средний чек</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-150">35,17%</i>
            </li>
            <li>
              <span>Оборот</span>
              <p>200 094 713<span> р</span></p>
              <b>4,20% — маржинальность</b>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-200">32,15%</i>
            </li>
            <li>
              <span>Доход</span>
              <p>8 403 978<span> р</span></p>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-250">38,41%</i>
            </li>
            <li class="orange">
              <span>ROI</span>
              <p>516%</p>
              <i class="plus" du-scrollspy="step4-funnels2" du-spy-context offset="-300">29,47%</i>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>