<div class="step-wrapper">
  <div class="step second" id="step2">
    <section>
      <h2 id="step2-header1" du-scrollspy="step2-header1" du-spy-context offset="/*getOffset()/*">
        {% include icons/lamp.svg %}
        <span>
          Полное понимание отдачи<br />
          от маркетинговых затрат
        </span>
      </h2>
      <p id="step2-text1" du-scrollspy="step2-text1" du-spy-context offset="/*getOffset()/*">
        <span>Считаем ROI в разрезе каждой рекламной</span>
        <span>
          кампании<br />
          и медийного баннера.
        </span>
      </p>
      <div class="funnels">
        <ul>
          <li id="step2-funnels1" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset()/*">
            <ul class="cut-bottom">
              <li>
                <span>Рекламный бюджет</span>
                <p>1 218 708<span> р</span></p>
                <b>10,17 р — цена клика</b>
                <i class="plus" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset() / 2/*">5.2%</i>
              </li>
              <li>
                <span>Клики</span>
                <p>119 808</p>
                <b>4,22% — конверсия в коммуникации</b>
                <i class="minus" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset() / 2 - 50/*">7.3%</i>
                <div class="button" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset() / 2 - 75/*">
                  <a ng-click="set('whyClicksGoDown', true)">
                    <span>Почему так?</span>
                  </a>
                </div>
              </li>
              <li>
                <span>Коммуникации</span>
                <p>5 061</p>
                <b>1,77% — конверсия в уник. коммуникации</b>
                <i class="minus" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset() / 2 - 100/*">9.3%</i>
                <div class="button" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset() / 2 - 125/*">
                  <a ng-click="set('whyCommunicationsGoDown', true)">
                    <span>Как так получилось?</span>
                  </a>
                </div>
              </li>
              <li>
                <span>Уникальные коммуникации</span>
                <p>2 122</p>
                <b>7% — конверсия в контракты</b>
                <i class="minus" du-scrollspy="step2-funnels1" du-spy-context offset="/*getOffset() / 2 - 150/*">5.7%</i>
              </li>
              <li class="empty"></li>
            </ul>
          </li>
        </ul>
        {% include popups/why_clicks_go_down.html %}
        {% include popups/why_communications_go_down.html %}
        <aside class="far big">
          <h3 id="step2-header2" du-scrollspy="step2-header2" du-spy-context offset="/*getOffset()/*">
            Отвечаем на главные<br />
            вопросы отдела маркетинга<br />
            вашей компании:
          </h3>
          <ul class="list">
            <li id="step2-list1" du-scrollspy="step2-list1" du-spy-context offset="/*getOffset()/*">
              почему упала отдача от рекламы?
            </li>
            <li id="step2-list2" du-scrollspy="step2-list2" du-spy-context offset="/*getOffset()/*">
              кто из подрядчиков работает<br />
              недостаточно хорошо?
            </li>
            <li id="step2-list3" du-scrollspy="step2-list3" du-spy-context offset="/*getOffset()/*">
              как составить максимально<br />
              эффективный медиаплан?
            </li>
          </ul>
        </aside>
      </div>
    </section>
  </div>
</div>
