---
layout: conf
---

<div id="med-conf" ng-controller="MedConfFormCtrl">
  <aside id="left-side" ng-class="{right: showMedForm}">
    <div ng-class="{big: showMedForm}">
      <div class="welcome">
        <h1>
          Медицина<br />
          будущего
        </h1>
        <p>Автоматизация продаж реальна</p>
        <footer>
          <a href="#" class="connect" ng-click="set('showMedForm', true); scrollTop()">Запишитесь cейчас</a>
          <div class="icons">
            <p>Партнеры и организаторы</p>
            <img src="/medconference2015/icons_brown.png" />
          </div>
        </footer>
      </div>
      <div class="form" ng-class="{active: showMedForm && !medConfThankYou}">
        <section>
          <p>Заполните форму, пожалуйста.</p>
          <form name="medConfForm" ng-submit="send(message)">
            <section>
              <div>
                <label for="name">Имя *</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  ng-model="message.name"
                  ng-required="true"
                  ng-disabled="get('busy')"
                />
              </div>
              <div>
                <label for="surname">Фамилия *</label>
                <input
                  type="text"
                  name="surname"
                  id="surname"
                  ng-model="message.surname"
                  ng-required="true"
                  ng-disabled="get('busy')"
                />
              </div>
              <div>
                <label for="email">Почта *</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  ng-model="message.email"
                  ng-required="true"
                  ng-disabled="get('busy')"
                />
              </div>
              <div>
                <label for="phone">Телефон *</label>
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  ng-model="message.phone"
                  ng-required="true"
                  ng-disabled="get('busy')"
                />
              </div>
              <div>
                <label for="company">Компания *</label>
                <input
                  type="text"
                  name="company"
                  id="company"
                  ng-model="message.company"
                  ng-required="true"
                  ng-disabled="get('busy')"
                />
              </div>
              <div>
                <label for="position">Должность *</label>
                <input
                  type="text"
                  name="position"
                  id="position"
                  ng-model="message.position"
                  ng-required="true"
                  ng-disabled="get('busy')"
                />
              </div>
              <div>
                <label for="comment">Комментарий</label>
                <textarea
                  name="comment"
                  id="comment"
                  ng-model="message.comment"
                  ng-disabled="get('busy')"
                >
                </textarea>
              </div>
            </section>
            <input type="submit" value="Записаться" ng-disabled="medConfForm.$invalid || get('busy')" />
          </form>
        </section>
      </div>
      <div class="form" ng-class="{active: medConfThankYou}">
        <section>
          <section class="thank-you">
            <div>
              <h2>Спасибо.</h2>
              <p>Мы вас записали.</p>
              <p>
                В ближайшее время отправим<br />
                письмо с подробностями<br />
                на ваш ящик электронной почты.
              </p>
            </div>
          </section>
          <span>Записаны</span>
        </section>
      </div>
    </div>
  </aside>
  <section id="right-side">
    <div>
      <h1>27 августа 2015</h1>
      <p>
        <span>
          Летом. Утром. В четверг.<br />
          Мы проводим закрытую конференцию<br />
          для профессионалов здравоохранения.
        </span>
      </p>
      <p>
        Будем обсуждать будущее продаж<br />
        медицинских услуг, инновации<br />
        и лучший опыт в данной области.
      </p>
      <ul class="desc">
        <li>
          {% include icons/time.svg %}
          <p>Ценим время</p>
          <span>Говорим только по сути, без воды.</span>
        </li>
        <li>
          {% include icons/star.svg %}
          <p>Собираем лучших</p>
          <span>Общение — ключ к взаимопониманию.</span>
        </li>
        <li>
          {% include icons/certified.svg %}
          <p>Отвечаем за слова</p>
          <span>Без коней в вакууме, только реальность.</span>
        </li>
      </ul>
      <span>Мест мало, поэтому запишитесь заранее.</span>
      <div class="hr"></div>
      <p>
        <span>В ресторане «Terrine»</span><br />
        Москва, Зубовский бульвар, д. 4/1
      </p>
      <a href="https://maps.yandex.com/-/CVcnRS7x" target="_blank"><img src="/medconference2015/map.jpg" /></a>
      <div class="hr"></div>
      <h1>
        <span>
          {% include icons/list.svg %}
          Программа<br />
          конференции
        </span>
      </h1>
      <ul class="program">
        <li>
          <span>10:00 — 10:30</span>
          <p>Регистрация</p>
        </li>
        <li>
          <span>10:30 — 11:00</span>
          <p>Доклад Яндекса</p>
          <i>
            «Основные тренды в размещении рекламы<br />
            медицинских учреждений на Яндексе».<br /><br />
            <i>
              Нугзар Перанидзе, ведущий менеджер<br />
              по работе с ключевыми клиентами.<br />
              Отдел индустриальных продаж.
            </i>
          </i>
        </li>
        <li>
          <span>11:00 — 11:30</span>
          <p>Доклад PROFI.RU</p>
          <i>
            «Развитие онлайн-записи в клиники.<br />
            Поведенческие метрики и пример<br />
            практического использования».<br /><br />
            <i>
              Панченко Федор, тех. директор ИнфоДоктор<br />
              Белобородов Максим, ген. директор ИнфоДоктор
            </i>
          </i>
        </li>
        <li>
          <span>11:30 — 12:00</span>
          <p>Доклад RO!RS</p>
          <i>
            «RO!RS - Marketing Resource Management.<br />
            Автоматизация маркетинга в мед. учреждениях».<br /><br />
            <i>Пичевский Максим, управляющий партнер RO!RS</i>
          </i>
        </li>
        <li>
          <span>12:00 — 12:30</span>
          <p>Доклад Calltouch</p>
          <i>
            «Исследование 120 000 обращений<br />
            в медицинской тематике или<br />
            зачем нужна аналитика».<br /><br />
            <i>Авдеев Алексей, директор по продажам Calltouch</i>
          </i>
        </li>
        <li class="break">
          {% include icons/coffee_hr.svg %}
          <span>12:30 — 13:00</span>
          <p>Кофе-брейк</p>
        </li>
        <li>
          <span>13:00 — 13:30</span>
          <p>Доклад Respekto</p>
          <i>
            «Respekto: Location based Marketing<br />
            - эффективные изменения и<br />
            решение старых проблем».<br /><br />
            <i>Мазур Андрей, управляющий партнер Respekto</i>
          </i>
        </li>
        <li>
          <span>13:30 — 14:00</span>
          <p>Доклад Открытая клиника</p>
          <i>
            «Robomed. Автоматизация медицинских<br />
            бизнес процессов внутри клиник».<br /><br />
            <i>
              Филипп Миронович, председатель совета<br />
              директоров Открытая клиника
            </i>
          </i>
        </li>
        <li>
          <span>14:00 — 14:30</span>
          <p>Доклад Zoon.ru</p>
          <i>
            «Ошибки при активном маркетинге<br />
            - примеры из практики».<br /><br />
            <i>Мутовин Илья Анатольевич, ген. директор Zoon.ru</i>
          </i>
        </li>
        <li>
          <span>14:30 — 15:00</span>
          <p>Свободное общение</p>
        </li>
      </ul>
    </div>
  </section>
</div>