---
layout: conf
---

<div id="med-conf">
  <aside>
    <div>
      <h1>
        Медицина<br />
        будущего
      </h1>
      <p>Автоматизация продаж реальна</p>
      <footer>
        <a href="#" class="connect">Запишитесь cейчас</a>
        <img src="/medconference2015/icons.png" />
      </footer>
    </div>
  </aside>
  <section>
    <div>
      <h1>27 августа 2015</h1>
      <p>
        <span>
          Летом. Утром. В четверг.<br />
          Мы проводим закрытую конференцию<br />
          для профессионалов здравоохранения.
        </span>
      </p>
      <p>
        Будем обсуждать будущее продаж<br />
        медицинских услуг, инновации<br />
        и лучший опыт в данной области.
      </p>
      <ul class="desc">
        <li>
          {% include icons/time.svg %}
          <p>Ценим время</p>
          <span>Говорим только по сути, без воды.</span>
        </li>
        <li>
          {% include icons/star.svg %}
          <p>Собираем лучших</p>
          <span>Общение — ключ к взаимопониманию.</span>
        </li>
        <li>
          {% include icons/certified.svg %}
          <p>Отвечаем за слова</p>
          <span>Без коней в вакууме, только реальность.</span>
        </li>
      </ul>
      <span>Мест мало, поэтому запишитесь заранее.</span>
      <div class="hr"></div>
      <p>
        <span>В ресторане «Terrine»</span><br />
        Москва, Зубовский бульвар, д. 4/1
      </p>
      <a href="https://maps.yandex.com/-/CVcnRS7x" target="_blank"><img src="/medconference2015/map.jpg" /></a>
      <div class="hr"></div>
      <h1>
        <span>
          {% include icons/list.svg %}
          Программа<br />
          конференции
        </span>
      </h1>
      <ul class="program">
        <li>
          <span>09:30 — 10:00</span>
          <p>Регистрация</p>
        </li>
        <li>
          <span>10:00 — 10:20</span>
          <p>Доклад Calltouch</p>
          <i>
            Цифры по динамике спроса с ноября 2014 года.<br />
            Статистика по изменению цены клика,<br />
            конкуренции в контексте.
          </i>
        </li>
        <li>
          <span>10:20 — 10:40</span>
          <p>Доклад RO!RS</p>
          <i>
            Автоматизация маркетинга<br />
            в медицинских учреждениях.
          </i>
        </li>
        <li>
          <span>10:40 — 11:00</span>
          <p>Доклад Profi.ru</p>
          <i>
            Автоматизация маркетинга<br />
            в медицинских учреждениях.
          </i>
        </li>
        <li class="break">
          {% include icons/coffee.svg %}
          <span>11:00 — 11:20</span>
          <p>Кофе-брейк</p>
        </li>
        <li>
          <span>11:20 — 11:40</span>
          <p>Доклад Respekto</p>
          <i>
            Location based marketing. Эффективные<br />
            изменения и решения старых проблем.
          </i>
        </li>
        <li>
          <span>11:40 — 12:00</span>
          <p>Доклад Открытая клиника</p>
          <i>
            Самые эффективные медийные<br />
            размещения, с точки зрения конверсии<br />
            в звонок и ROI. Рейтинг за 2015 год,<br />
            по статистике CallTouch и RO!RS.
          </i>
        </li>
        <li>
          <span>12:00 — 12:20</span>
          <p>Доклад Zoon.ru</p>
          <i>
            Самые эффективные медийные<br />
            размещения, с точки зрения конверсии<br />
            в звонок и ROI. Рейтинг за 2015 год,<br />
            по статистике CallTouch и RO!RS.
          </i>
        </li>
      </ul>
    </div>
  </section>
</div>