<!DOCTYPE html>
<html ng-app="ROI">
  {% include head.html %}
  <body>
    <div id="container">
      {% include header.html %}
      <section id="content">
        {{ content }}
        {% include footer.html %}
      </section>
      {% include steps.html %}
      {% include connect.html %}
    </div>
    <script type='text/javascript' src="{{ "/assets/js/angular.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/assets/js/angular-scroll.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/assets/js/application.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="http://umark.realto.be/28.js" id="umark"></script>
  </body>
</html>
