<div class="popup" ng-if="get('showConnect')" ng-class="{active: get('active')}" ng-controller="ContactFormCtrl">
  <a class="close" ng-click="set('showConnect', false)">{% include icons/close.svg %}</a>
  <section class="big">
    <div>
      <form name="contactForm" ng-submit="send(message)">
        {% include logo.html %}
        <label for="name">Ваше имя *</label>
        <div class="input">
          <input
            type="text"
            name="name"
            id="name"
            ng-model="message.name"
            ng-pattern="/^[a-zа-яA-ZА-Я\s]{3,200}$/i"
            ng-required="true"
            ng-disabled="get('busy')"
          />
          {% include icons/success.svg %}
        </div>
        <label for="name">Фамилия *</label>
        <div class="input">
          <input
            type="text"
            name="surname"
            id="surname"
            ng-model="message.surname"
            ng-pattern="/^[a-zа-яA-ZА-Я\s]{3,200}$/i"
            ng-required="true"
            ng-disabled="get('busy')"
          />
          {% include icons/success.svg %}
        </div>
        <label for="company">Компания *</label>
        <div class="input">
          <input
            type="text"
            name="company"
            id="company"
            ng-model="message.company"
            ng-pattern="/^.{3,200}$/i"
            ng-required="true"
            ng-disabled="get('busy')"
          />
          {% include icons/success.svg %}
        </div>
        <label for="phone">Номер телефона *</label>
        <div class="input">
          <input
            type="tel"
            name="phone"
            id="phone"
            restrict="reject"
            mask="+9 (999) 999 9999"
            ng-model="message.phone"
            ng-required="true"
            ng-disabled="get('busy')"
          />
          {% include icons/success.svg %}
        </div>
        <label for="email">Адрес электронной почты *</label>
        <div class="input">
          <input
            type="email"
            name="email"
            id="email"
            ng-model="message.email"
            ng-required="true"
            ng-disabled="get('busy')"
          />
          {% include icons/success.svg %}
        </div>
        <footer>
          <section ng-class="{busy: get('busy')}">
            <input type="submit" value="Регистрация" ng-disabled="contactForm.$invalid" />
            {% include icons/logo_single.svg %}
          </section>
        </footer>
      </form>
    </div>
  </section>
</div>