<section ng-if="get('whyClicksGoDown')" ng-class="{active: get('active')}" click-outside-or-close="set('whyClicksGoDown', false)">
  <a class="close">{% include icons/close.svg %}</a>
  <h3>Почему же клики упали на 7,3% при росте бюджета?</h3>
  <p>
    Упал трафик по SEO. В отчете по позициям мы видим отрицательную<br />
    динамику позиций к прошлому месяцу.
  </p>
  <p><span>Пора поговорить с подрядчиком по SEO продвижению.</span></p>
  <table class="no-top">
    <tr class="grey icons">
      <td class="request"></td>
      <td class="dinamyc" colspan="2"><div class="icon">{% include icons/yandex.svg %}</div></td>
      <td class="position" colspan="2"><div class="icon">{% include icons/google.svg %}</div></td>
    </tr>
    <tr class="grey">
      <td class="request">Запрос</td>
      <td class="position">Позиция</td>
      <td class="dinamyc">Динамика</td>
      <td class="position">Позиция</td>
      <td class="dinamyc">Динамика</td>
    </tr>
    <tr class="big">
      <td class="request">Итого</td>
      <td class="position">12</td>
      <td class="dinamyc"><span class="minus">34</span></td>
      <td class="position">9</td>
      <td class="dinamyc"><span class="minus">4</span></td>
    </tr>
    <tr>
      <td class="request">бмв купить</td>
      <td class="position">11</td>
      <td class="dinamyc"><span class="minus">2</span></td>
      <td class="position">7</td>
      <td class="dinamyc"><span class="plus">1</span></td>
    </tr>
    <tr>
      <td class="request">бмв цены</td>
      <td class="position">7</td>
      <td class="dinamyc"><span class="minus">11</span></td>
      <td class="position">10</td>
      <td class="dinamyc"><span class="minus">7</span></td>
    </tr>
    <tr>
      <td class="request">bmw цены</td>
      <td class="position">7</td>
      <td class="dinamyc"><span class="plus">3</span></td>
      <td class="position">11</td>
      <td class="dinamyc"><span class="minus">7</span></td>
    </tr>
    <tr>
      <td class="request">купить bmw в москве</td>
      <td class="position">18</td>
      <td class="dinamyc"><span class="plus">1</span></td>
      <td class="position">4</td>
      <td class="dinamyc"><span class="plus">1</span></td>
    </tr>
    <tr>
      <td class="request">дилеры bmw в москве</td>
      <td class="position">23</td>
      <td class="dinamyc"><span class="minus">6</span></td>
      <td class="position">18</td>
      <td class="dinamyc"><span class="zero">0</span></td>
    </tr>
    <tr>
      <td class="request">официальный дилер бмв в москве</td>
      <td class="position">4</td>
      <td class="dinamyc"><span class="plus">4</span></td>
      <td class="position">14</td>
      <td class="dinamyc"><span class="zero">0</span></td>
    </tr>
    <tr>
      <td class="request">дилер бмв</td>
      <td class="position">3</td>
      <td class="dinamyc"><span class="zero">0</span></td>
      <td class="position">12</td>
      <td class="dinamyc"><span class="zero">0</span></td>
    </tr>
    <tr>
      <td class="request">бмв новая цена</td>
      <td class="position">7</td>
      <td class="dinamyc"><span class="minus">1</span></td>
      <td class="position">4</td>
      <td class="dinamyc"><span class="minus">2</span></td>
    </tr>
  </table>
</section>