<section ng-if="get('whyCommunicationsGoDown')">
  <a class="close" ng-click="set('whyCommunicationsGoDown', false)">{% include icons/close.svg %}</a>
  <h3>
    <span>Хорошо. С кликами разобрались.</span>
    Но почему коммуникации упали на 9.3%?
  </h3>
  <p>
    Эффективность Яндекс.Директ упала, конверсия площадки стала ниже,<br />
    чем у Google.Adwords. Нужно принять меры по оптимизации. 
  </p>
  <p><span>А пока бюджет можно перераспределить в пользу Google.Adwords.</span></p>
  <table class="right">
    <tr class="grey">
      <td class="channels">По каналам</td>
      <td class="budget">Бюджет</td>
      <td class="clicks">Клики</td>
      <td class="conversion">Конверсия</td>
      <td class="communication">Коммуникации</td>
      <td class="price">Цена</td>
    </tr>
    <tr>
      <td class="channels">Google.Adwords</td>
      <td class="budget"><span class="minus">18.20%</span></td>
      <td class="clicks"><span class="minus">15.10%</span></td>
      <td class="conversion"><span class="plus">2.76%</span></td>
      <td class="communication"><span class="minus">12.77%</span></td>
      <td class="price"><span class="minus">6.26%</span></td>
    </tr>
    <tr>
      <td class="channels grey">01.10.13 — 31.10.13</td>
      <td class="budget">195 908</td>
      <td class="clicks">9260</td>
      <td class="conversion">2.90%</td>
      <td class="communication">269</td>
      <td class="price">370</td>
    </tr>
    <tr>
      <td class="channels grey">01.11.13 — 30.11.13</td>
      <td class="budget">160 193</td>
      <td class="clicks">7 861</td>
      <td class="conversion">2.98%</td>
      <td class="communication">234</td>
      <td class="price">684</td>
    </tr>
    <tr>
      <td class="channels">Яндекс.Директ</td>
      <td class="budget"><span class="minus">24.30%</span></td>
      <td class="clicks"><span class="minus">23.60%</span></td>
      <td class="conversion"><span class="minus">34.04%</span></td>
      <td class="communication"><span class="minus">51.86%</span></td>
      <td class="price"><span class="minus">57.16%</span></td>
    </tr>
    <tr>
      <td class="channels grey">01.10.13 — 31.10.13</td>
      <td class="budget">366 837</td>
      <td class="clicks">29 569</td>
      <td class="conversion">2.70%</td>
      <td class="communication">798</td>
      <td class="price">460</td>
    </tr>
    <tr>
      <td class="channels grey">01.11.13 — 30.11.13</td>
      <td class="budget">277 704</td>
      <td class="clicks">22 596</td>
      <td class="conversion">1.70%</td>
      <td class="communication">384</td>
      <td class="price">723</td>
    </tr>
  </table>
</section>