---
layout: conf
---

<div id="conf" ng-controller="ConfFormCtrl">
  <header>
    <section>
      <p>
        Закрытая конференция
        <br />
        для автодилеров и импортеров.
      </p>
      <h1>{% include icons/conf_logo.svg %}</h1>
      <b>30 июля 2015</b>
      <nav>
        <a href="#form" du-smooth-scroll>Записаться</a>
      </nav>
      <span>Количество мест ограничено</span>
    </section>
    <div class="icons">
      <img src="{{ "/assets/images/backgrounds/conf_icons.png" | prepend: site.baseurl }}">
    </div>
  </header>
  <p>Только для руководителей и сотрудников отдела маркетинга автодилеров и импортеров.</p>
  <div class="program" id="program">
    <section>
      <section>
        <h2>Программа</h2>
        <ul>
          <li>
            <span>9:30 - 10:00</span>
            <h3>
              Регистрация
              <br />
              и завтрак
            </h3>
            {% include icons/coffee.svg %}
          </li>
          <li>
            <span>10:00 - 10:30</span>
            <h3>Доклад Яндекса</h3>
            <p>
              Цифры по динамике спроса с ноября
              <br />
              2014 года. Статистика по изменению
              <br />
              цены клика, конкуренции в контексте.
              <br />
              Рекомендации по размещению
              <br />
              контекстной рекламы для дилеров.
            </p>
          </li>
          <li>
            <span>10:30 - 11:00</span>
            <h3>Доклад Auto.ru</h3>
            <p>
              Ситуация на рынке новых авто.
              <br />
              Информация о продажах и спросе
              <br />
              в 2015 году, с детализацией по маркам.
              <br />
              Прогнозы на лето-осень 2015.
            </p>
          </li>
          <li>
            <span>11:00 — 11:20</span>
            <h3>Кофе-брейк</h3>
            {% include icons/coffee.svg %}
          </li>
          <li>
            <span>11:20 — 12:40</span>
            <h3>Кейс дилера «Независимость»</h3>
            <p>
              Полная автоматизация управления
              <br />
              интернет-маркетингом.
              <br />
              Все инструменты в одном кейсе.
            </p>
            <ul>
              <li>Директор департамента медиа и интернет-проектов компании Независимость</li>
              <li>Calltouch</li>
              <li>Callbackhunter</li>
              <li>RO!RS</li>
            </ul>
            <i>Выступления по 20 минут.</i>
          </li>
          <li>
            <span>12:40 — 13:00</span>
            <h3>
              Тема «LP для сервиса
              <br />
              с конверсией 10%»
            </h3>
            <p>
              Как посадочная страница
              <br />
              может загрузить 25% ремзоны.
              <br />
              Статистика по 4 брендам (конверсия,
              <br />
              стоимость одного обращения,
              <br />
              доля в общем трафике).
            </p>
          </li>
        </ul>
      </section>
      <aside>
        <p>
          Место проведения: <a href="https://maps.yandex.com/-/CVcnRS7x" target="_blank">ресторан Terrine,
          <br />
          Москва, Зубовский бульвар, дом 4</a>
        </p>
        <p>
          Будем обсуждать инструменты автоматизации
          <br />
          и аналитики в автомобильном сегменте,
          <br />
          кейс от ГК «Независимость»,
        </p>
        <h2>
          <span>
            РОСТ ПРОДАЖ НА ФОНЕ
            <br />
            ПАДАЮЩЕГО РЫНКА
          </span>
        </h2>
        <p>а также данные ведущих отраслевых площадок.</p>
        <p id="form">
          Для записи на конференцию
          <br />
          заполните форму, пожалуйста.
        </p>
        <form name="confForm" ng-submit="send(message)">
          <section>
            <div>
              <label for="name">Имя *</label>
              <input
                type="text"
                name="name"
                id="name"
                ng-model="message.name"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="email">Почта *</label>
              <input
                type="email"
                name="email"
                id="email"
                ng-model="message.email"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="company">Компания *</label>
              <input
                type="text"
                name="company"
                id="company"
                ng-model="message.company"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="position">Должность *</label>
              <input
                type="text"
                name="position"
                id="position"
                ng-model="message.position"
                ng-required="true"
                ng-disabled="get('busy')"
              />
            </div>
            <div>
              <label for="comment">Комментарий</label>
              <textarea
                name="comment"
                id="comment"
                ng-model="message.comment"
                ng-disabled="get('busy')"
              >
              </textarea>
            </div>
            <section ng-class="{active: confThankYou}">
              <div>
                <h2>Спасибо.</h2>
                <h3>Мы приняли вашу заявку.</h3>
                <p>
                  В ближайшее время отправим
                  <br />
                  письмо с подробностями
                  <br />
                  на ваш ящик электронной почты.
                </p>
              </div>
            </section>
          </section>
          <input type="submit" value="Отправить заявку" ng-disabled="confForm.$invalid" ng-class="{hidden: confThankYou}" />
          <span ng-class="{active: confThankYou}">Заявка отправлена</span>
        </form>
      </aside>
    </section>
  </div>
</div>